[2015-04-16 05:19] methnen opened #1 "Shortcake integration"
If Shortcake is enabled, register UI for the M Chart shortcode that lets users easily embed an existing chart.

Doing this properly will require looking further into how Shortcake handles custom field types which isn't documented at the time I'm writing this.

[2015-04-16 05:20] methnen opened #2 "SASS Linting"
Add some SASS Linting to help keep the SASS code clean.

[2015-04-16 05:24] methnen opened #3 "Unit tests"
Create some unit tests for some of the methods that lend themselves to such things.

Ideal candidates:
- `M_Chart:validate_post_meta`
- Everything in the `M_Chart_Parse` class

This will also pave the way to improving the code in the parse methods (some of the oldest code in here) since we'll have a reliable way of testing whether we've broken something or not.

[2015-04-16 05:25] methnen opened #4 "Documentation"
Go through the documentation before release and make sure I haven't missed anything too obvious.

[2015-04-16 05:27] methnen opened #5 "Deploy process"
Figure out a reasonably good deploy process to https://wordpress.org/plugins/

[2015-04-16 15:45] methnen opened #6 "Canvas manipulation"
Figure out a real solution for allowing other scripts to manipulate the canvas context right before the image version of the graph is generated.

[2015-04-27 18:50] methnen commented on #3
https://github.com/methnen/m-chart/pull/9

[2015-04-27 18:50] #3 closed

[2015-04-27 18:50] methnen commented on #4
https://github.com/methnen/m-chart/wiki

[2015-04-27 18:50] #4 closed

[2015-04-27 18:50] methnen commented on #5
https://github.com/methnen/m-chart/pull/10

[2015-04-27 18:50] #5 closed

[2015-04-28 00:48] #1 closed

[2015-04-28 18:16] #2 closed

[2015-05-05 14:28] #6 closed

[2015-05-05 20:56] marcioc0sta opened #34 "Multiple charts on a query posts"
Hi there,first, congrats!!! the plugin is awesome!

But, today i tried to make a query with two posts, both posts have graphs but only one have been printed (the last), u have any suggestion?

[2015-05-05 21:26] methnen commented on #34
Hey @marcioc0sta is it possible that the first chart isn't published?

[2015-05-05 22:14] methnen commented on #34
@marcioc0sta I'm still pretty sure that what you're dealign with is a chart that hasn't been published yet.  But your issue report prompted some investigation that discovered a related bug that's been fixed in 1.1.2.  Please update to that one and let me know if you're still having any problems.

[2015-05-06 12:16] marcioc0sta commented on #34
Hi @methnen thanks to the fast feedback =]
Both graphs have been published, but, i'll update the plugin to see whats happen. Again, thanks for the  help.

[2015-05-06 12:25] marcioc0sta commented on #34
@methnen, i'm very grateful, the problem have been solved!!!

THANKS!

[2015-05-06 14:06] methnen commented on #34
@marcioc0sta Glad that fixed things. And very glad you're enjoying the plugin.

[2015-05-06 14:06] #34 closed

[2015-10-02 08:00] buffaloseven opened #42 "Custom Chart Colors"
It would be nice if the UI allowed for custom chart colours; simply entering a HEX code would suffice for each series present on the chart.

[2015-10-02 15:30] methnen commented on #42
Hey @buffaloseven if you simply want to change from the default styles for your entire theme vs. doing it per chart, that ability is already there and you could do it by adding a filter method to your theme's functions.php file quite easily.

More details here: https://github.com/methnen/m-chart/wiki/Action-and-filter-hooks#m_chart_chart_args

If you need to do it on a per chart basis, yes, we'd n

[2015-10-07 16:41] buffaloseven commented on #42
Hmm...looking through the documentation, that could work, however...it gets complicated.

I run a blog that focuses on weather for my region.  I often use different chart colours depending on what sort of weather parameters I want to display to help people intuit what the data is.  Ultimately, I'd like to have cohesion with my colours chosen for various parameters.  You can see my current implemen

[2015-10-07 17:11] methnen commented on #42
Hmm.... I see the problem for your use case.

I added all of the action and filter hooks specifically to allow for non UI based solutions to the sorts of problems like you have. Not that UI based solutions are bad just that they require more time to write on my part and I work on M Chart as I'm able around actual paying work.

I really like your suggestion of having color sets as a drop down since

[2015-10-07 22:55] buffaloseven commented on #42
I'll give that a try tonight and see how it works.  I'd gladly do the front-end UI stuff once I get a handle on how the front-end and WP backend communicate with each other.  I've done quite a bit of UI development, so I'm often happy to contribute in that way when I can :-)

I agree that a dropdown for "Colour Scheme" would probably work better than individual series colours; you lose a bit of cu

[2015-10-07 23:09] methnen commented on #42
Yes, the color array works just like it would as an option in Highcharts. The entire $chart_args array gets converted to a JSON string and then passed to Highcharts. So anything you can do via the Highcharts API: http://api.highcharts.com/highcharts you can add to the $chart_args array.

If you want to contribute to the plugin just fork it and then do a pull request of your changes into this repos

[2015-12-16 17:22] arnaudcrowther opened #43 "(Bar chart) Uncaught TypeError: Cannot read property 'defaultView' of undefined"
Unable to create a simple bar chart, all other chart types are working well

Data example:

+-----------------+
November
+-----------------+
9
+-----------------+

Options:

Type: bar
Parse: row

Example link: http://hartmedical.org/m-chart-test/

Thank you

[2015-12-16 17:27] methnen commented on #43
Hey @arnaudcrowther I'm actually seeing a working chart there.

Was there a line given in the error possibly?

I'll see if I can reproduce the issue on my end.

[2015-12-16 17:36] arnaudcrowther commented on #43
Thanks for the quick answer @methnen !

I had accidental changed the wrong chart, please check again

[2015-12-16 17:49] methnen commented on #43
Yeah, that doesn't look awesome.  Can I get you to take a screenshot of both data and the settings you have set and either attach them to this ticket or email them to me at jamie AT methnen.com?

[2015-12-16 17:55] arnaudcrowther commented on #43
Another important note: when I create the chart, the preview renders correctly which leads me to believe there is some js conflict on my live version. Which is odd since all the other chart types render correctly on both preview version and live version.

Just sent you the screenshots to your email.

Thanks!

[2015-12-16 17:59] methnen commented on #43
Weird. So in the admin panel the graph is working. If you switch to parse data in columns it should look correctly at least. But that doesn't explain why it's not working in the page. I've reproduced the issue and will let you know what I find. Thanks for the bug report.

[2015-12-16 18:15] methnen commented on #43
Yeah, huh.  I'm pretty convinced at this point that it's some sort of conflict in the Highcharts library itself that's causing the Javascript exception. I'm going to try upgrading Highcharts on my end and seeing if that solves it.  If not I'll likely have to file a bug report with them.

Stay tuned.

[2015-12-16 18:17] methnen commented on #43
Alright, updating to the latest version of Highcharts seems to sole the problem. I'll push a new version of M-Chart today that should solve your issue.

[2015-12-16 18:41] arnaudcrowther commented on #43
Thank you so much!

Ill keep my eyes open for the Wordpress plugin notification.

[2015-12-16 19:15] methnen commented on #43
@arnaudcrowther the new version is up.

[2015-12-16 19:15] #43 closed

[2015-12-25 19:32] AtlasRush opened #46 "Save draft and publish buttons grey out"
Hi, I'm suddenly having problems with M Chart after a few months of use.
Now, when I create a chart and start putting datas in the chart sheet, Save draft and Publish buttons grey out, and they don't allow me to click on them anymore.
I tried bypassing through Dev console from Chrome deleting "disabled" from the line of code of the buttons but it just doesn't save.
It's a new thing for me, it neve

[2015-12-25 20:11] methnen commented on #46
Every time you edit the spreadsheet or change a chart setting, there's a short period of time where the Save Draft/Publish buttons will become disabled while the plugin regenerates the image version of the graph and updates a few values that are needed on save.  It's basically identical to how the WP post autosave stuff works.

Once that's finished the buttons get re-enabled.  It sounds like somet

[2015-12-25 20:13] methnen commented on #46
And yes, I'm apparently answering bug reports on Christmas.

[2015-12-25 21:08] AtlasRush commented on #46
1st reply: Oh, I see. It looked like the server resources were saturated, not it's working fine. Thanks a lot and merry christmas.
P.S.: your plugin is WONDERFUL.
You can see it used on ReHWolution.it ;)

[2015-12-25 23:59] methnen commented on #46
Ah, good to hear all is good. And glad you enjoy the plugin. :) Always nice to see it getting used.

[2015-12-25 23:59] #46 closed

[2016-01-08 02:00] 3298021 opened #47 "a user's suggestion"
i'm a over sea user from china, so maybe some wrong words here...
recently use your wonderful plug-in m-chart and have some suggestion below
1.gave the "lang" dir and en-us.pot, so everyone can help you tarnslate your plug-in;
2.have a opinion which can do Linear data comparison by mouseover or single touch on smartphone, just like the plug-in "chart-expert" at http://pmzez.com/plugins/chart-exper

[2016-01-08 02:23] methnen commented on #47
Hey thanks for the suggestions! And glad you like the plugin.

My wife actually speaks/reads Chinese fluently so it might be easier for you to post that in Chinese and then she can explain to me what you said. I'll admit I don't immediately follow all of your suggestions though I think I understand some of them.

I'm very interested in having the plugin translated and the first steps for that are

[2016-01-10 22:43] AtlasRush opened #48 "How to deactivate image output"
Hi, it seems like I'm having the same problem again, and probably it depends on the fact that M-Chart also generates a static picture together with the chart. Is there any way to turn this feature off? Like, I only use charts, not pictures.
Thanks in advance!

[2016-01-11 15:41] AtlasRush commented on #48
Hello? (It's me)

[2016-01-11 16:56] methnen commented on #48
Hey @AtlasRush sorry, on weekends I try to focus on family as much as possible.  I'm pretty sure a small part of the image generation is the issue as you're guessing.  There is not a way currently to disable that feature but you are the second person to ask for it so it's safe to say I'll be adding that as a feature in the next version.

I'll admit it's large enough change it's not something I can

[2016-01-11 17:02] AtlasRush commented on #48
I appreciate the work you put in it, and I didn't mean to sound rude. It's just that I was really excited using your plugin in these weeks, but now, with some particular charts that are a bit bigger in columns and datas, it gives me problems. Always the "greyed out" buttons, as you may guess. Isn't there a way to temporarily disable it even though it's not something permanent? Or maybe something t

[2016-01-11 17:08] methnen commented on #48
You can try this, I can't so for sure that it won't break something important though.

Open up the admin JS file:

/components/js/m-chart-admin.js

The look for the `m_chart_admin.refresh_chart` function and directly above this line:

`m_chart_admin.refresh_counter++;`

Put this:

`return false;`

[2016-01-11 17:13] methnen commented on #48
As I think about it, this will probably work, but it will create a situation where to see the changes you've made reflected in the chart you'll have to save the chart.

[2016-01-11 17:26] AtlasRush commented on #48
Like this?
http://imgur.com/AdMuZKP
regarding the saving thing, I wouldn't care, all I need is the charts to be rendered properly with new datas (I write reviews about hardware and stuff, charts for a me are really important).

[2016-01-11 17:27] methnen commented on #48
Yep that's it.

[2016-01-11 17:33] AtlasRush commented on #48
It gives me a 404. It doesn't seem like it's the server limiting my resources, though..

[2016-01-11 17:34] methnen commented on #48
There no reason I can think of that that change should be causing a 404.

Where do you get the 404 error? One the chart edit page?

[2016-01-11 17:35] AtlasRush commented on #48
When I save the draft or publish the chart

[2016-01-11 17:39] methnen commented on #48
I just tested the change on my dev machine and I can't duplicate any 404 on save issues though I do get the behavior I thought we would (the chart will only reflect changes after having saved it).

Is it possible that you are having some performance issues unrelated to the plugin?

[2016-01-11 17:42] AtlasRush commented on #48
Yep, that's why I was asking if there was a way to skip the PNG generation process... I'm figuring out if it's about permalinks (i changed the structure) and drafts previously saved to the permalink changes.

[2016-01-11 17:49] AtlasRush commented on #48
It looks like it's not about permalinks. I just tried creating new chart drafts and nothing changes. I really don't know...

[2016-01-11 17:52] methnen commented on #48
404 on save is literally implying that the server can't find the target of the save post form.  Which is hard to believe.  Are there any server folks you can talk to that can possibly look into it? I'm pretty sure at this point that the plugin isn't in play here.

[2016-01-11 17:57] AtlasRush commented on #48
Ok, If I don't make any change AND save or publish, it works. If I add a row to the datas, it goes 404...

[2016-01-11 18:01] methnen commented on #48
Can you export the the data as a CSV file and attach it with a screenshot of the form settings to this ticket? I'll try to replicate your conditions exactly.

[2016-01-11 18:05] AtlasRush commented on #48
![screenshot 4](https://cloud.githubusercontent.com/assets/16438961/12241904/4211dd5c-b896-11e5-8b62-9d46115c6e13.jpg)

[2016-01-11 18:07] AtlasRush commented on #48
Sorry, I thought I could upload the CSV file too. Here it is: https://mega.nz/#!ZhB32aiL!wRqxlwsuU8-rbPtD4H9C8izMopocLIZT3SoR7sAq7EI

I removed a line, and the saving feature worked. I tried to add it back, and again a 404. WTF?

[2016-01-11 19:19] methnen commented on #48
Thanks, I wish I could say I was able to duplicate the issue you're experiencing.  But I was not.

I'm assuming you're running the latest version of M Chart and with that version and the hack applied I'm not experiencing any issues adding lines to the chart you're working with (despite using exactly the same data and the same settings).

[2016-01-11 20:13] AtlasRush commented on #48
I'm on a sh*tty server that is probably limiting my resources. I'll end up getting a new one before the end of the week, probably. It's the only variable (apart from me being useless when it's about coding) that should be responsible of those errors.
Do you have any way of looking into it if I give you my website credentials?
Thanks again, Jamie, you're really kind.

[2016-01-11 22:10] methnen commented on #48
I could possibly take a look later tonight or tomorrow.

If you'd really like. However, if this is just run of the mill server performance problems there's basically nothing I can do.

[2016-01-12 22:37] AtlasRush commented on #48
Ok, here's the thing: my hosting provider limited the number of cgi and php scripts I can execute :(

[2016-01-12 22:41] methnen commented on #48
That certainly explains some things.

[2016-01-12 22:47] AtlasRush commented on #48
I'm talking with 1&1 in these days to get a bigger server compared to the one with our current hosting provider. We'll go from 1 vcore/1gb RAM to 4 vCore 4GB RAM, hoping that'll be enough! HUGE, HUGE thanks for your patience and kindness.

[2016-01-17 16:37] AtlasRush commented on #48
Hi Jamie, with the new hosting we're not having problems at all. It was netsons (that limited our resorces) to make us go 404's.
Now I reset the refresh_chart thing, and I can work smoothly :+1:
I'll modify the chart colours now, following one of the threads here :) Thank you really much!

[2016-01-19 02:16] #48 closed

[2016-02-23 04:06] xiangzhai opened #49 "How to render multi-values for Vertical axis?"
Hi @methnen

For example shown as below:

![screenshot_20160223_120235](https://cloud.githubusercontent.com/assets/851100/13241375/3f3a01ee-da25-11e5-81ad-b4d5bb491797.png)

When input some datas in the third row, it did ***NOT*** render in the chart?

Regards,
Leslie Zhai

[2016-02-23 07:22] xiangzhai commented on #49
what a shame!!! @methnen have already doc it ;P https://github.com/methnen/m-chart/wiki/creating-a-chart

[2016-02-23 07:22] #49 closed

[2016-04-01 19:35] OurWeb opened #50 "How do I donate & some feature suggestions"
Hey Methnen!

Thanks so much for making a VERY handy WP charting plugin! Love the spreadsheet integration most. So much that I'd like to donate $15. Do you have a PayPal email address I can shoot the $ over to?

Also, I have some **feature requests**...(praying the first one can come soon!)

1) **Can you make it possible to duplicate a chart???** I need to create hundreds of charts with the same s

[2016-04-01 19:48] methnen commented on #50
Hey @OurWeb thanks for the ideas.

My thoughts:

1. Duplicating charts probably wouldn't be too difficult to add.  I'll keep that in mind next time I've got some time to spend on the plugin.

2. The source URL thing is a core feature in Highcharts that I'm just piggy backing on top of. Are you saying that when you set a Source value and A source URL value that it's not clickable? I'll have to look

[2016-04-01 19:52] methnen commented on #50
Oh, and if you really want to make a donation send some money to [MercyCorps][https://www.mercycorps.org/].

[2016-04-01 20:22] OurWeb commented on #50
Thanks @methnen for the lightning fast response!

All of your assumptions reg. my request are correct. Yes, the "source URL" isn't clickable. In both Safari and Firefox my curser turns into a hand _as though_ it's a link, but the text is grey and I can't click on it.

I notice the source code on my published page contained this:

...so the URL doesn't seem to be carrying over for some reason. I'm

[2016-04-02 21:49] OurWeb commented on #50
One last feature request... can you add the "Chart Subtitle" field found on https://Cloud.HighCharts.com when you get a chance? It's very handy for sub-defining a chart's data.

HOWEVER, if you have to choose any of my suggestions to work on first, my highest priority would still be "Duplicate Chart". I'm confident many users will appreciate having this as an option!

Cheers!

[2016-04-21 07:48] OurWeb opened #51 "WP 4.5 and Future WP Version Compatibility"
Hi Methnen,

I need to know if you will be keeping M-Chart up-to-date with the latest WP updates?

So far it's broken on WP 4.5, since it doesn't display the chart in the admin anymore.

This is very discouraging since I've already create 50 charts with your plugin and I can't upgrade my WP until the plugin is compatible.

So do you intend to keep it up-to-date???

Thanks,
OurNet

[2016-04-22 23:52] robmcclel opened #52 "User suggestion"
@methnen ,

I was looking for a data visualization system for my users and came across this plugin.  I was really impressed by the Edit chart screens that showed the data table and the chart together on the back end.

Every other visualization plugin I've seen ports everything to the front end -- but I'm looking for a data dashboard system that is entirely in the back end dashboard.  Something I c

[2016-04-23 00:08] methnen commented on #52
Hey @robmcclel

That's a cool idea but it's probably another product entirely. There's definitely overlap though and I can conceive of how you might use some of the action and filter hooks to create something along those lines as an add on plugin.

If you decided to try tackling that and needed a hook in a place that one doesn't exist I'd be happy to add any you needed.  I'm not sure how comfortab

[2016-05-03 04:05] methnen commented on #51
Hey @OurWeb I'm a single dev with a full time job. I'm doing my best to keep things up to date though. I'm taking a look at the WP 4.5 issue tonight and will hopefully have a fix up shortly.

[2016-05-03 04:11] methnen commented on #51
Hmm.... I'm unable to duplicate any issues with charts showing up in the admin panel on WP 4.5 or WP 4.5.1.

Is there a time tomorrow or sometime this week that you might be able to provide some more details on what exactly might be happening. I'd especially be interested in any errors that might be showing in the browser's console window.

[2016-05-03 07:02] OurWeb commented on #51
Thanks for following up, Jamie. The issue resolved itself when I updated my Theme, so I guess the out of date theme was interacting with 4.5 in a way that blocked the display of the chart. Case closed :)

[2016-05-03 14:03] methnen commented on #51
Ah good. Just FYI I do try to always spot check releases to make sure nothing important is broken before a major WP release. And I did do that with the plugin. I don't always manage to update the plugin read with this information though.

[2016-05-03 14:03] #51 closed

[2016-05-04 23:30] methnen opened #54 "Embeddable Charts"
Make charts embeddable on sites other than the current site.

Extracted from this issue:

https://github.com/methnen/m-chart/issues/50

[2016-05-04 23:43] methnen opened #55 "Subtitles"
This was actually in the original code at one point but got removed. I can't actually remember why.

Lets add it back in.

Extracted from this issue:

https://github.com/methnen/m-chart/issues/50

[2016-05-04 23:45] methnen opened #56 "Add method for duplicating charts"
Thinking this would work well as an additional inline edit control from the charts list.

Extracted from this issue:

https://github.com/methnen/m-chart/issues/50

[2016-05-05 00:09] methnen commented on #47
Closing.

[2016-05-05 00:09] #47 closed

[2016-05-05 00:11] methnen commented on #52
Closing because this is out of scope with my current intentions for the plugin.

[2016-05-05 00:11] #52 closed

[2016-05-05 00:12] methnen commented on #50
Closing since 1.2 solves the issues that haven't been split out of this this request.

[2016-05-05 00:12] #50 closed

[2016-05-05 00:12] methnen commented on #42
Closing because 1.2 provides a way to handle this now.

[2016-05-05 00:12] #42 closed

[2016-05-05 01:21] AtlasRush commented on #56
I use a plugin to clone posts and it lets me clone charts automatically :)

[2016-05-05 01:22] AtlasRush opened #59 "Patch 1.2 and 1.2.1 messed up everything (tldr: PHP >= 5.3.6 is required)"
Hi Methnen! I was really excited to update since the changelog was very tasty, but as soon as I did it, I couldn't modify charts (or at least preview them) anymore. Also, in the settings area, there is no "apply" button...

[2016-05-05 01:36] methnen commented on #59
Hey @AtlasRush. Any chance I can see the issue in action somewhere? I'm looking at it right now and not seeing any issues in WP 4.5.1.

I've seen themes causing issues with stuff before though. Is the theme you're using publicly available so I can test with it? Otherwise I'm happy to look into it in whatever way works best for you.

[2016-05-05 01:37] methnen commented on #59
Also do you see any errors in your browser's console? Sometimes that can point me to the issue.

[2016-05-05 01:51] AtlasRush commented on #59
The theme i'm using is JMagz, a Premium Theme. You want me to send you a link to download it from Themeforest? The previous version didn't give me any problem, while this one instantly bugged itself :\

[2016-05-05 01:53] methnen commented on #59
Yes if you can I'd like to try taking a look. The charts are still working from the front end correct?

It might be easiest if you were comfortable passing me a temporary login/pass to a Dev version of your site if you have one.

[2016-05-05 02:01] AtlasRush commented on #59
http://www.rehwolution.it/review/reeven-okeanos-1402-cpu-heatsink-recensione/5/
Charts don't load and they actually block the rendering for the rest of the page. How can I give you those credentials privately? Can you write me an e-mail to ciro.sdino@rehwolution.it?

[2016-05-05 02:05] methnen commented on #59
Just sent you an email.

[2016-05-05 02:47] methnen commented on #59
To keep a public record, the issue was that the new theme code relies on the [DirectoryIterator getExtension](http://php.net/manual/en/directoryiterator.getextension.php) method which was not available in the version of PHP @AtlasRush was running. The extension is in PHP 5.3.6 and later.

I'll be looking at refactoring the code a bit to possibly remove the reliance on the getExtension method.

[2016-05-05 03:01] methnen commented on #59
Reopening for a little while in case anyone else comes along with the issue before I can make any updates.

[2016-05-05 22:16] rey2204 opened #60 "multiple data series into the same chart"
I entered three columns of information: date, series 1 data, and series 2 data.  However, I am unable to get multiple data series into the same chart.  Also, the legend just says "series 1" instead of the column header name.  I feel like I'm missing something obvious, but I'm unable to figure it out.

Thanks for the help.

[2016-05-06 01:10] methnen commented on #60
Hello @rey2204 happy to help out. Without seeing the data set and the settings you are trying to use I can't help much though.

If you use the CSV export feature and then attach the file along with a screenshot of the chart settings to this issue I should be able to help you out.

[2016-05-10 11:34] OurWeb opened #61 "M-Charts is creating empty pages"
M-Charts is creating pages on my site that are totally empty. I assume the page it creates should at least have the chart on it, right? Seems awfully bad for SEO since Google is penalizing sites that have pages with “thin content”.

In addition, when you create a category for your charts, the category’s page is also empty…showing no posts within the category.

Does M-Chart really have to create pa

[2016-05-10 14:13] methnen commented on #61
Hey,

It's left open as an option for those who want to have the charts have their own individual pages. HighCharts doesn't create the pages in the sense that Google shouldn't know they are there unless your theme is generating links to them somehow, which would be strange. And actually each individual image can have it's own page as well in WP though again you should create a template meant for d

[2016-05-10 14:29] OurWeb commented on #61
Thanks for the quick response! I see your point about Google not finding the pages if there are no links to them. The only problem I have then is that the Category pages are forcing themselves onto my HTML Sitemap page, which WOULD encourage Google to crawl them.

The only solution I can think of then is to associate the charts to a category that actually has regular posts and delete the categorie

[2016-05-10 14:40] methnen commented on #61
Ah, I see... is there a way to change the sitemap query to check if the category has posts in the normal 'post' post_type before trying to list it in the sitemap? That's the directly I'd immediately look but maybe not straightforward as I don't know how your sitemap is being generated.

[2016-05-11 20:02] rey2204 commented on #60
Thanks for the reply.  I tried it with and without the CSV import feature and it didn't work either time - that file is attached as an Excel file (wouldn't let me attach a .CSV file).  Also attached a screenshot of  the settings.  Here's a summary of the settings:

Type: Line
Theme: Highcharts 4.x
Height: 400
Parse data in: Rows
Show labels: yes
Show legend: no (though I would choose yet if I coul

[2016-05-11 23:22] methnen commented on #60
@rey2204 This was thankfully an easy one.

Remove the contents of the first cell and switch the parsing to columns.

That should give you what you want.

[2016-05-12 21:37] rey2204 commented on #60
Awesome, thanks for your help!

[2016-05-14 05:25] OurWeb commented on #61
Figured it out! :) I had to edit the individual Category Page itself and use the Yoast SEO's settings found THERE to change the "**Include category in sitemap**" from "**auto**" to "**never include**". That removed the category from my Sitemap Page since my HTML sitemap plugin (WP SEO HTML Sitemap) creates my Sitemap Page automatically from my site's sitemap.

[2016-05-14 07:18] OurWeb commented on #50
Update: the source links on my charts are now clickable now. Not sure if it was WP update or my theme update that made the difference, but thought you should know it's resolved now.

And thanks for making my other suggestions "enhancement" posts :)

[2016-05-16 16:58] methnen commented on #61
Glad to hear you worked it out.

[2016-05-16 16:58] #61 closed

[2016-05-16 16:58] #60 closed

[2016-05-17 01:47] shengyilee opened #62 "Chart Shortcode Not Displaying"
Hello,

I've created and saved my chart however when I apply the shortcode to a new blog post in Wordpress it doesn't display the chart.

This is the original chart: http://secretagent.com.au/chart/inner-north-housing-index/
And this is where I want it to appear (Below the "What We Do" section): http://secretagent.com.au/test/

Also, in what conditions does the chart display as a PNG instead of an

[2016-05-17 02:41] #62 closed

[2016-05-17 03:24] methnen commented on #62
Hey @shengyilee were you able to get this to work? I'd be happy to took but not seeing any M Chart code on that page.

In answer to your second question, it gets used in RSS feeds where Javascript won't function.  But it can also be forced by setting `img="yes"` on the shortcode: `[chart id="12" img="yes"]`

[2016-05-24 16:03] methnen commented on #56
@AtlasRush is this the one?:

https://wordpress.org/plugins/clone-posts/

[2016-05-24 16:24] AtlasRush commented on #56
I'm using this one: https://wordpress.org/plugins/duplicate-post/

[2016-05-25 00:07] #59 closed

[2016-05-25 00:08] methnen commented on #55
Added in version 1.3.

[2016-05-25 01:45] #55 closed

[2016-05-26 02:16] 3298021 opened #65 "New Translation Ver."
Yesterday, I just have some free-time and translate the unfinished Chinese po
How to send it to you?
m-chart@noreply.github.com , this one may not work

[2016-05-26 02:21] 3298021 commented on #65
Oh, i just remember that
Can you give an "Original" opinion in the "Type" which can display the original chart ?

[2016-05-26 22:40] methnen commented on #65
@3298021 Do you know how to use github? You could just send a pull request.

Otherwise please email it to me at jamie AT methnen.com

[2016-05-27 01:12] methnen opened #67 "Allow custom vertical axis minimums"
Switch out the current *Force vertical axis minimum to zero* toggle with one that allows a custom value.

[2016-05-27 01:12] methnen commented on #65
@3298021 thanks a ton for the translation.

[2016-05-27 01:12] #65 closed

[2016-06-01 16:29] MWDelaney opened #68 "Undefined property: M_Chart_Highcharts::$get_chart_args"
Hi,
I love this plugin, but when saving a chart I get the following error:

[code]

Commenting out line 193 seems to resolve the issue, but that probably isn't what we want to do. Reading through that class it looks like there isn't a local method `get_chart_default_args`.

If there's anything I can do to help troubleshoot, let me know!

[2016-06-01 16:53] methnen commented on #68
Hey @MWDelaney

Thanks for the bug report you are correct there's an issue there. I somehow wasn't getting that notice but I can see how it would happen. I'll have a new version that corrects this up soon.

[2016-06-01 17:02] #68 closed

[2016-06-01 17:03] methnen commented on #68
And the new version should be up on wordpress.org shortly.

Thanks again fro the bug report.

[2016-06-01 20:37] MWDelaney commented on #68
Hi, methnen, thank you for fixing this so quickly. I'm getting another similar warning with the new version:

[code]

This is another case where it looks like `$this->post` isn't defined at this point in the script.

Let me know if I can help troubleshoot at all.

[2016-06-01 21:10] MWDelaney commented on #68
If it helps my development environment is [Roots/Trellis](https://roots.io/trellis/). It's annoyingly good at displaying errors!

[2016-06-02 17:10] methnen commented on #67
Added in 1.4.

[2016-06-02 17:10] #67 closed

[2016-06-15 16:17] espilber opened #71 "Same shortcode in post"
Hi, I'm trying use the same shortcode (id) twice in one post (one shortcode in content and the second shortcode on a hidden div (hidden by default, but visible in certain situations). Only works one shortcode, the second doesn't works. I have other shorcodes with diferents ids and I have no problem.

Maybe a  quick fix is duplicate chart option...

Thanks for that awesome plugin!

[2016-06-15 16:23] methnen commented on #71
Hey @espilber you've run into a use case that I admittedly never anticipated.

I'll have to think about how I might solve it. The code relies on the chart id's to differentiate between the different charts on a given page and a duplicate would obviously need to be differentiated in some other way.

I'll probably have to add an instance value that gets tacked on somehow.

I'll get back to you in a

[2016-06-17 23:50] gracedigital opened #72 "Can't get the chart to work with web base spread sheet."
I tried using Google Docs Spreadsheet and also posting a CSV to dropbox but neither will render.  Is this supposed to be able to work with online spreadsheets?

[2016-06-18 00:26] methnen commented on #72
Hey @gracedigital you can import CSV files but you can't link to one that's online somewhere. There's no interface or backend for that.

As for a specific CSV file rendering I'd need to see how it's formatted to know what might be wrong.

If you'd like to send it my way and send me a screenshot of the settings you're using for your chart I'd be happy to take a look:

jamie at methnen.com

[2016-06-18 04:52] gracedigital commented on #72
It works when I manually import.  I’m curious then what is the Source URL parameter is for?

[cid:D4E2EE08-C536-4B05-8885-434E5FAF7238]

From: Jamie Poitra <notifications@github.com<mailto:notifications@github.com>>
Reply-To: methnen/m-chart <reply@reply.github.com<mailto:reply@reply.github.com>>
Date: Friday, June 17, 2016 at 5:26 PM
To: methnen/m-chart <m-chart@noreply.github.com<mailto:m-chart@

[2016-06-18 05:08] methnen commented on #72
Ah. That's for making the source text clickable. So if you want to indicate where the data is from with a link.

[2016-06-18 07:28] gracedigital commented on #72
Ok. Thanks!

From: Jamie Poitra <notifications@github.com<mailto:notifications@github.com>>
Reply-To: methnen/m-chart <reply@reply.github.com<mailto:reply@reply.github.com>>
Date: Friday, June 17, 2016 at 10:08 PM
To: methnen/m-chart <m-chart@noreply.github.com<mailto:m-chart@noreply.github.com>>
Cc: Developer <developer@gracedigital.com<mailto:developer@gracedigital.com>>, Mention <mention@norepl

[2016-06-18 07:30] gracedigital commented on #72
Also, is it possible to have the graph just show the top “N” values?

From: Jamie Poitra <notifications@github.com<mailto:notifications@github.com>>
Reply-To: methnen/m-chart <reply@reply.github.com<mailto:reply@reply.github.com>>
Date: Friday, June 17, 2016 at 10:08 PM
To: methnen/m-chart <m-chart@noreply.github.com<mailto:m-chart@noreply.github.com>>
Cc: Developer <developer@gracedigital.com<mai

[2016-06-19 15:44] #72 closed

[2016-06-21 21:45] methnen commented on #72
Hey sorry just noticed the follow up question. I'm not sure what you mean by only showing the top N value.

Can you clarify a bit?

[2016-06-23 12:28] dribanig commented on #67
I do like this change but how about a maximum value as well. Also I would love to be able to flip the vertical axis and have the minimum at the top.  I am displaying a sports ladder and having it run from 10 to 0 when it should run from 1 to 9 is a bit strange!

[2016-06-23 17:32] methnen commented on #67
Flipping the axis has been requested before. I'll probably add that officially sometime soon.

There's a way to hack it using the themes though:
https://wordpress.org/support/topic/vertical-axis-reverse-order?replies=5

You've actually got the first example of why anyone would want a max axis value. Highcharts does support that.

In the meantime you could do a similar hack for the max setting to t

[2016-06-27 21:54] methnen opened #73 "Allow charts to be based on remote CSV files"
This has been requested multiple times now.

https://wordpress.org/support/topic/dynamic-cvs-uploads-2

[2016-06-28 22:04] methnen commented on #71
Fixed in 1.4.1

[2016-06-28 22:04] #71 closed

[2016-08-09 12:36] petrakid opened #76 "Something broken when making a chart"
After entering the third row of data (pie chart with two columns of data), I am no longer able to save the chart using the Publish/Update button, or save a draft using the Save Draft button.  They're both disabled.  Also, any data that add to the spreadsheet doesn't update the preview of the chart.  The first two rows work fine, but once I add a third row the chart stops updating and disappears.

[2016-08-09 15:19] methnen commented on #76
Hey @petrakid I'm sure we can get things working. The only other time I've see what you are describing it was a server issue. It could also be a JS error of some kind.

By default the plugin makes AJAX requests as settings and data get updated so that the chart preview is always up to date. However, if those requests don't get answered it acts like you've described.

You can try turning off the li

[2016-08-10 12:19] petrakid commented on #76
Thanks I'll do the live preview shut off thing first.  I'm not sure that it's AJAX as I have other addons that use AJAX and they seem to work fine.  Just FYI, I don't remember seeing any console log errors when I check the browser's built-in mechanism.  I'm using Cyberfox, which is a Mozilla-based browser (which runs faster than Firefox).  However I tried it in Edge too and same problem.

[2016-08-10 12:26] petrakid commented on #76
Now when I go and add the data, the pie chart continues to update as it should (no reloads, and yes I shut off the live preview), but the Publish/Update button is still remaining disabled.

[2016-08-10 13:19] petrakid commented on #76
One more little snippet of information:  I went into the database, to the wp_posts table, found the posts related to my chart and added random data to the post_content field of each post/update/draft.  Then went back to the site to view the chart.  The data I added was displayed but of course no chart.  I then went to edit the chart and there was no data in the spreadsheet.  I imported (again) the

[2016-08-10 15:14] methnen commented on #76
The post_content field is ignored as far as the plugin is concerned. I'm pretty curious at what might have been happening now.

With the live previews turned off there's nothing in the Plugin code that will disable the publish/save button. So it must have been the default WP auto save stuff that was disabling the button.

I'd be happy to take a closer look if this is up on a dev server somewhere t

[2016-10-02 21:04] gocemitevski opened #77 "Charts not showing on various sites with WP 4.6.1"
Hi Jamie,

Thanks for developing this great plugin. Did you had any chance to test it on the latest version of WordPress? I'm experiencing issues with the showing of the charts on several different websites. The markup is there, but the charts are not showing on the front-end. The are visible while editing in the back-end.

[2016-10-02 21:43] methnen commented on #77
Hey Goce.  Yes I've tested it on the latest version of WP 4.6.1 and didn't see any issues. I'm unable to replicate any problems displaying charts on the front end as well.

Chances are, if the code is in the page, but the chart isn't showing that there's some sort of JS conflict. Is there a publicly accessible URL can provide where I can observe the problem?

If you want to send a URL more private

[2016-10-04 20:56] gocemitevski commented on #77
@methnen thanks for the prompt reply. You're right. I did more testing on several more different setups and the graphs were rendering without problems. I will let you know when I find the specific cause.

[2016-11-10 00:20] methnen commented on #77
@gocemitevski Please do let me know if/when you find the what was conflicting with the plugin. I would like to try and prevent the issue if possible.  In the meantime I'm closing this.

[2016-11-10 00:20] #77 closed

[2016-11-10 00:21] methnen commented on #76
Closing for the time being as there's been no new information and I'm unable to duplicate this issue.

[2016-11-10 00:21] #76 closed

[2016-11-18 17:26] buffaloseven opened #83 "Improvement: Add Toggle to Enable Shared Tooltips"
M-Charts would benefit from adding a per-chart preference toggle to enable shared tooltips:

    {
        tooltip: {
            shared: true
        }
    }

This displays all of the tooltips on a single shared tooltip when mousing over the series, as opposed to the default setting of showing only the currently active series in the tooltip. Depending on the graph implementation, either case coul

[2016-11-18 17:28] buffaloseven opened #84 "Improvement: Merge Custom Highcharts Settings"
Per-chart customization could be achieved easier than the theming application if there was a textarea that could be utilized on a per-chart basis to enter a custom JSON highcharts settings object that would then be merged (e.g. via `$.extend()`) into the main chart settings.

[2016-11-18 17:54] methnen commented on #84
There's a filter hook that lets you merge any custom settings into the settings being used for each chart. That's essentially what the themes do.

I went the "theme" route basically because I'm leaning towards never directly exposing the guts of Highcharts to the regular user. This was a conscious choice and one I feel somewhat strongly about. The very first version of this plugin was designed for

[2016-11-18 17:55] methnen commented on #83
Great idea. I'll look at doing this in a future version.

[2016-11-18 22:17] buffaloseven commented on #84
Hmm, I can see (and agree with) your rationale. The only thing with theming is that, at least to my understanding, the point of a theme would be to create recyclable settings that are utilized multiple times, which would be antithetical, to a point, with per-graph customizations.

Separating the functionality to a plugin for your plugin would be a pleasant compromise, since then you'd have to have

[2016-11-18 22:34] methnen commented on #84
Certainly,

There's basically 3 things you need.

A meta box with your controls, a method to save the input from the meta box and save_post and a method to hook into the appropriate place for you to then use the JSON for a given chart.

The charts are just a custom post type.

So your meta box would just attach to the m-chart post type. Something like this:

[code]

This is assuming you're buildin

[2016-11-18 22:36] methnen commented on #84
Also I'd be happy to let you bug me via Skype whenever you want.

My Skype handle is: methnen

Only caveat is that I'm supposed to have a baby this coming Monday (well my wife is having the baby) so I might be sort of unavailable and/or sleep deprived at times.

[2016-11-25 18:33] martin8032 opened #85 "Regional settings"
Currently the plug-in always uses a comma to group numbers (i.e. 127,238). This is not suitable for countries like Germany (they use a period for this purpose, i.e. 127.238) oder Switzerland (where an apostrophe is used, i.e. 127'238).

May I suggest to add some kind of regional settings where you can modifiy this separator?

[2016-11-25 23:39] methnen commented on #85
Great idea Martin. I'll make sure this makes it into the next version.

[2016-11-26 02:56] buffaloseven commented on #84
Thanks for the help. I hope to get started on it in the coming few days.

That said, I seem to have run into a bug with the theming system.  I've created a theme file that looks like this:

[code]

The gist is that I want to apply custom colours, line widths, and types to a complex graph summarizing climatological data.  However, when I use the theme in m-chart, it seems that instead of merging th

[2016-11-26 19:48] methnen commented on #84
Yeah, that's a side effect of using array_merge. It's not terribly smart, but it's fast.

Let me think about it a bit and see if I can come up with a solution for your issue.

[2016-11-26 20:01] buffaloseven commented on #84
I'm curious; does `$.extend()` already handle this correctly? I can't try until later tonight. If it did, you could simply set a JS theme variable `theme_options = null` and set it if an object is defined in the theme. Then just run the `$.extend()` function if `theme_options !== null`.

Just an idea; if the solution is complex in PHP and a library you have to use for Highcharts handles it, maybe

[2016-11-26 20:05] methnen commented on #84
If you set deep to true it does:

https://api.jquery.com/jquery.extend/#jQuery-extend-deep-target-object1-objectN

array_merge is really not super smart as I said, and I knew that, but recursively doing it is just more expensive on the server side. In this case it's probably worth it. I'll probably work out a recursive array_merge in the next version.

[2016-11-26 20:09] methnen commented on #84
Or now that I've ready your full comment, yeah, that's not a bad idea either.

[2016-11-27 01:41] buffaloseven commented on #84
Or [Stack Overflow](http://stackoverflow.com/questions/6975676/php-recursive-merge) to the rescue?

[2016-12-03 03:09] buffaloseven commented on #84
So this seems to work. In `class-m-chart-highcharts.php` I added:

[code]

And replaced
[code]

with

[code]

It works perfectly (or so it seems).  Should probably do a little more testing, but I wasn't able to find any conflicts so far.

[2016-12-03 03:34] buffaloseven commented on #84
I'm successfully merging a theme file with numerous series options with nested associative arrays in them and it seems to be holding up well.  This fairly complicated chart works exactly as expected.
<img width="936" alt="screen shot 2016-12-02 at 9 28 36 pm" src="https://cloud.githubusercontent.com/assets/3456575/20856537/cae326ea-b8d6-11e6-9c03-43dd82827231.png">

It has custom colours, custom l

[2016-12-03 21:48] methnen commented on #84
Awesome. I'll look at the method you ended up using and probably implement something along those lines in the next release. Hopefully sometime this month. I'm in the midst of some other work on the plugin that I'm pretty close to finishing up and then I can move to this next.

[2016-12-03 22:26] buffaloseven commented on #84
Sounds great!

As an aside, is there a way to call a chart via Javascript? I'm making some pages where dynamic loading of charts could be handy.

[2016-12-03 22:33] methnen commented on #84
There currently isn't.  However, the next version will be able to load charts via iFrames.

That same functionality could be leveraged to dynamically load charts pretty easily I think.

[2016-12-03 22:34] buffaloseven commented on #84
I like the sound of that! :)

[2017-01-02 22:30] camilawaz commented on #62
I have the same problem. @methnen

The console is pointing out the error: Uncaught TypeError: $(...).highcharts is not a function

Here's a live example: http://estudiodoiscafes.com.br/pautanegocios/post-com-grafico/

The theme is a personal theme which I created to a client. I have the plugin working fine in other project using the Divi Theme.

You can help me to figure this out? Thanks

[2017-01-02 22:41] methnen commented on #62
Hey @camilawaz I just tried to take a look but the shortcode isn't being processed. Is the plugin active at the moment?

[2017-01-02 22:43] methnen commented on #62
FYI I've got a new version of the plugin I'm hoping to launch sometime in the next few days. It will have an option to run the embeds via iframes which I'm hoping will prevent these types of theme issues some people have had.

[2017-01-02 22:58] camilawaz commented on #62
Sorry, my bad!
It's now active :)

[2017-01-02 23:09] methnen commented on #62
@camilawaz

This issue when it crops up is always "weird" it's acting like the highcharts.js file isn't included in the page but it is there I can see it.

Try calling this in your theme as early as possible, ideally when the `wp_enqueue_scripts` gets called. Your theme may already have a method hooked up to that as it's the ideal time to call any theme scripts.  This should force highcharts to lo

[2017-01-03 00:37] camilawaz commented on #62
Work :)
Thank you!
I'll be waiting the new version.
Congrats for the awesome plugin!

[2017-01-03 04:33] methnen commented on #62
Awesome. 👍

[2017-01-25 17:50] buffaloseven opened #86 "Replace getExtension() with getFilename() to Improve Compatibility"
I need to install m-chart on a Wordpress installation using an older version of PHP (5.3.2) that I am unable to update. The plugin fails on the getExtension() method of a DirectoryIterator of the M_Chart_Highcharts class . Replacing

    434    if ( ! $file->isFile() || 'php' != $file->getExtension() ) {

with

    434    if ( ! $file->isFile() || ! preg_match( '/.php$/i', $file->getFilename() ) )

[2017-01-25 19:37] methnen commented on #86
@buffaloseven I'll make sure to put this in the next version.

I sadly can't say when I'll be able to get it released though. I had hoped to have it finished by the new year but paying work has gotten in the way. Hopefully sometime near the end of January but no promises.

[2017-01-25 19:39] methnen commented on #86
Feel free to hack the current one on the site in question though, knowing that the next release will include your fix.

[2017-01-25 19:41] buffaloseven commented on #86
No problem on the updates.

I assume that change will work in all cases; it just checks to see if the filename ends in .php, which should accomplish the same as the getExtension() function.

[2017-02-02 03:19] mshigekawa opened #87 "404 Returned when publishing new chart"
With Wordpress 4.7.2 on a Multisite install, when you create a new chart and view the auto generated page, a 404 error is returned on the new page.

**Steps**
1) Add Chart
2) Enter values manually into chart
3) Click Publish
4) View new page
404 Not Found error returned

**Workaround**
1) Copy the chart short code (ie [chart id="30053"])
2) Paste it into a new blank page
The chart display successf

[2017-02-02 03:23] methnen commented on #87
Hello @mshigekawa that's actually by design currently though I could add something in that filters the content function. I'll have to look into adding that. If you want them to not 404 you would need to include a single-m-chart.php template with the correct method in the template. I get why it's confusing though. It's something I should tweak in any case.

[2017-02-02 03:32] mshigekawa commented on #87
Oh gotcha. For my use case that deals with websites for personal trainers I'm looking to have personal trainers enter their client's measurements into the table then was hoping they could just click publish and share that page with their clients (instead of having to create a separate page and manually add the shortcode).

What method do I need to add in the single-m-chart.php for this use case?

[2017-02-02 03:49] mshigekawa opened #88 "Feature Request: Create Templates"
It would be cool if you could save a table as a template, then when you create a new chart, you could load that template to pre-fill the table. Also being able to clone charts.

[2017-02-02 17:36] methnen commented on #88
@mshigekawa can you clarify that first part of the request? Do you mean you would like if there were a way to create a chart and have the HTML table version of it get auto generated as a page/template type or something along those lines?

I've decided that cloning charts is outside of the scope of the plugin. There's plenty of existing post cloning plugins. I've been told this one works great with

[2017-02-02 17:43] methnen commented on #87
You'd just include this in the template where you want the chart to show:

[code]

[2017-02-03 00:37] mshigekawa commented on #88
I envision having Personal Trainers creating a standard set up tables/charts (i.e. Client Measurements) like the one below for each of their clients. Instead of them having to create a new chart each time for their clients and copying and pasting those row values, it would be convenient to have a "save as template" and "load template" feature.

![screen shot 2017-02-02 at 4 32 12 pm](https://cloud

[2017-02-03 00:47] mshigekawa commented on #88
Having just installed Duplicate Post per your recommendation, this actually allows a pretty good workaround in which I can just create "template" charts, lock them, then have the user clone the chart. This solution would be good enough. Thanks

[2017-02-03 00:47] #88 closed

[2017-02-22 17:56] methnen commented on #56
Closing this issue:

https://github.com/methnen/m-chart/wiki/Duplicating-charts

[2017-02-22 17:56] #56 closed

[2017-02-22 19:34] methnen commented on #87
Closing as relevant issue is addressed in 1.6.

[2017-02-22 19:34] #87 closed

[2017-02-22 19:34] methnen commented on #86
Closing as relevant issue is addressed in 1.6.

[2017-02-22 19:34] #86 closed

[2017-02-22 19:34] methnen commented on #85
Closing as relevant issue is addressed in 1.6.

[2017-02-22 19:34] #85 closed

[2017-02-22 19:34] methnen commented on #84
Closing as relevant issue is addressed in 1.6.

[2017-02-22 19:34] #84 closed

[2017-02-22 19:34] methnen commented on #83
Closing as relevant issue is addressed in 1.6.

[2017-02-22 19:34] #83 closed

[2017-02-22 19:35] methnen commented on #54
Closing as relevant issue is addressed in 1.6.

[2017-02-22 19:35] #54 closed

[2017-02-24 02:10] mshigekawa commented on #87
Just updated to 1.6. Was hoping my clients could now just press Publish in Charts and it would generate a new page with the included chart, but that doesn't appear to be the case...

[2017-02-24 02:33] methnen commented on #87
Hey @mshigekawa I tested this in the default WP them and a few others just to be sure and it was working fine. Two thoughts:

1. Perhaps there's an issue with the theme?
2. Maybe your permalinks need to be rebuilt?

[2017-04-21 18:34] buffaloseven opened #94 "[Request] Enable Array Input Values"
For those using custom Highcharts themes, they may want to utilize the `arearange` plot type. The input for this series requires a 2-item numerical array. Unfortunately, m-chart won't accept an array or CSV entry as a valid input in the spreadsheet.

Ideally, we could enter values into the spreadsheet like:

    [2.1,-14.2]
    [3.2,-12.2]
    [-1.2,-18.2]
And those values would be parsed and supp

[2017-04-21 20:08] buffaloseven opened #95 "[Enhancement] Enable Exporting for Graphs"
I wanted to enable the exporting module on a per-chart basis to allow people to download an image of the chart on demand directly from the chart interface.

[code]

I defined `highcharts-exporting` in `class-m-chart.php` alongside `highcharts` and `highcharts-more`, and then added lines 202-205 above in `class-m-chart-highcharts.php`. Works like a charm. If the chart theme defines exporting as ena

[2017-05-02 21:29] jwbriney opened #96 "[Request] Toggle Data Points Option"
I noticed when I create line and spline graphs with a lot of data, the points get close enough that the individual markers disappear and you get just the line. But when I make one with fewer points the individual markers show up. Is there a way to turn the data markers on and off for each graph?

[2017-05-03 01:10] buffaloseven commented on #96
Create a custom theme and enable markers for the series in the `plotOptions` settings:

'''json
plotOptions: {
    series: {
        marker: {
            enabled: true
        }
    }
}'''

You can see theAPI reference here: http://api.highcharts.com/highcharts/plotOptions.series.marker.enabled

But note that force-enabling markers may introduce performance problems if you have a large data set.

[2017-05-03 16:02] methnen commented on #96
Hey @jwbriney as @buffaloseven mentioned this is potential performance issue for extremely large data sets which is why Highcharts automatically disables them when you go over a certain size data set.

His suggestion is your best bet short term especially since it will give you a working solution now without waiting for me to possibly implement this in a future version.

I threw together an **unte

[2017-05-03 16:16] methnen commented on #95
Hey @buffaloseven yeah, Highcharts own image generation stuff is a bit limited and doesn't have a built in way to send the user to a pre generated image. I built my own image generation because I was unhappy with the Highcharts stuff myself which generates a low res image that looks terrible on a high dpi screen.

Thinking about this I'm wondering if a simple solution would be to add some action h

[2017-05-03 16:41] methnen commented on #94
@buffaloseven I'm assuming you're using a theme to switch the plot type?

[2017-05-05 14:50] jwbriney commented on #96
Thanks guys, that worked perfectly. Appreciate it.

[2017-05-05 14:50] #96 closed

[2017-05-08 01:08] buffaloseven commented on #94
Yes, I am.

[2017-05-08 01:10] buffaloseven commented on #95
My initial thought was just to enable the Highcharts-native image generation. My plan is to have a long data set (daily data, going back years), and then allow the user to easily zoom to to the last 30, 90, or 365 days. The hope would be that they could then just use the native image exporting to save it as an image.

[2017-07-17 07:28] oddtober opened #97 "Support for Dual Axes Chart"
Hello Methnen,

I was wonder if your plugin can do something like this:
https://www.highcharts.com/demo/combo-dual-axes

Thank you!

Regards,
Damien.

[2017-07-17 15:02] methnen commented on #97
Hey Damien, The answer is no.

It doesn't currently have something that would allow that to happen and admittedly I can't say it would be something I'll be adding in the near future.

[2017-07-18 00:49] oddtober commented on #97
Thanks for the quick reply Methnen!
Is there any work around I can do, maybe a hook to edit a chart to do that?

Thanks!

[2017-07-18 01:45] methnen commented on #97
There are a ton of hooks in the code. You'll see most of them documented in the Wiki:

https://github.com/methnen/m-chart/wiki/Action-and-filter-hooks

I'm also happy to add any hooks in future versions that you'd like added.

What you are looking at is somewhat complex though. You'd need a UI to handle the other Axis labels for one thing. I'm almost wondering if it might be easier if you created

[2017-07-18 02:32] buffaloseven commented on #97
I've been pondering how to do this as well.  I have several types of charts where I'd like to have two y-axis (e.g. daily precipitation with a running monthly accumulation on the Y2 axis).  One option would be simply to create a "special" property in a custom theme that is excluded from the general options merge and used to define the second custom y-axis. The second option would be to abstract th

[2017-07-18 02:38] buffaloseven opened #98 "Customizing the Single Chart Display Page"
I was wondering where exactly the code is that configures how the single-chart view (e.g. this [temperature graph](https://www.aweathermoment.com/chart/2017-annual-temperatures/)) is configured.  I'd like to apply a few custom elements to the page but — perhaps because I'm sleep deprived and just praying my youngest will sleep — can't seem to find it.

Related to that, it could be nice for the cha

[2017-07-18 05:33] oddtober commented on #97
I think having the values on 2 separate charts and combining them seems the most viable option at this point. However, I do not have much experience on working with the Highcharts API.

Is there any way you can point me in the direction to do this?

Thank you!

[2017-07-18 05:36] oddtober commented on #98
If you are adding the caption and description underneath, then would a normal text before the shortcode suffice?

[2017-07-18 15:24] methnen commented on #98
Where the front end view is built? You'll see a a `get_chart` method in the `class-m-chart.php` file.

That gets the chart code. You'll see get the chart arguments and then inserts them into a template file `highcharts-chart.php`.

I don't think they exist in the current version but in my dev copy that will become 1.6.3 has action hooks before and after the template file is loaded that would poten

[2017-07-18 21:20] methnen commented on #97
Like I said on a high level I'm thinking a short code where you get the chart args for two separate charts then combine those two charts following the Highcharts specs for a dual axis chart (which are documented on the URL you gave).

There's a method in M Chart you could call to get the arguments for each chart:

`m_chart()->highcharts()->get_chart_args( $post_id );`

The `$post_id` value being t

[2017-07-19 12:48] oddtober commented on #97
Let me see what I can do. Will update the progress here.
Thank you!

[2017-09-20 00:36] jonhyleo opened #99 "Error 404"
At the time of creating a graph, I can visualize it in real time in the post editor window. But, when I publish it, I can only see the generated PNG image and where it should be the graph appears a warning of Error 404.

I have reviewed the structure of the permanent links and everything seems to be correct.

I am running the tests on a local server with php v5.6, MySQL 5.6.35, in macOS Sierra wit

[2017-09-20 01:22] methnen commented on #99
Hey. I’m not in a good place to look in detail at the moment. However, my immediate guess is the endpoint for charts isn’t triggering for some reason. A sometimes quick fix for that is to refresh the endpoints cache which you can do by visiting the permalinks settings page in the WP admin panel and just hitting the save button. Let me know if that doesn’t fix it and I’ll take a closer look as soon

[2017-09-20 01:46] jonhyleo commented on #99
Hi @methnen, thanks for reply.
I tried to do what you tell me, without favorable results. The problem persists.

I even tried to change the structure of the permalinks and it still does not work :(

[2017-09-20 03:04] methnen commented on #99
Was hoping that was the issue. I might actually have a free moment apart from paying work tomorrow where I can look at this in more depth. Are there any hours tomorrow that you might be available in case I need to do some back and forth with you?

[2017-09-21 23:13] jonhyleo commented on #99
Sorry for the delay. Yes, i'm available. I'm very interested in resolve the issue. Thanks for your attention

[2017-09-21 23:16] methnen commented on #99
Hey, first is the possibly a way you can setup a page/post where I can see the issue in action that doesn't disrupt your visitors?

Also if you want to take this to email please feel free to email me: jamie AT methnen.com

[2017-09-21 23:21] jonhyleo commented on #99
Actually i'm testing all tools in a local server. Please let me prepare a environment to share access and notice you when ready.

Thanks!

[2017-09-22 19:14] jonhyleo commented on #99
Hi @methnen, i sent you an email.

I see a problem if the check that enable iframe embeds is checked, the chart returns a 404 error.

I tried with this option unchecked and works fine. But, i need that these charts will be embeddable in other sites.

Thanks for your help!

[2017-09-25 18:49] methnen commented on #99
Hey @jonhyleo Apologies but I did not get an email from you.

Since it's iframe related I'm strongly suspecting it's related to endpoint still not triggering for some reason. I'll probably need to have some access to your setup to see it happening on the front end for sure and possibly the backend.

I'll watch for an email, maybe you had a typo in the email?

[2017-09-25 19:19] jonhyleo commented on #99
Hi, i sent you the email again.

[2017-09-27 00:52] methnen commented on #99
This is fixed in 1.6.3 which was just pushed to Wordpress Plugins.

[2017-09-27 00:52] #99 closed

[2017-11-05 11:29] Vishnu-S-Nair opened #103 "Not displaying all columns"
Hi,
Awesome work with the chart. I have a total entry of 30 items. The chart is skipping one item in between and showing only 15. Is there any way to change it so that all 30 columns with be displayed
Thankyou

[2017-11-06 15:48] methnen commented on #103
Hey, I honestly can't say what might be happening here with out a CSV export of the data and a screenshot of the chart settings you're using. If you aren't comfortable sharing that publicly feel free to email me at jamie AT methnen.com

[2017-12-04 21:46] methnen commented on #103
Closing since there's been no reply from the OP for a month.

[2017-12-04 21:46] #103 closed

[2017-12-31 00:04] cyclinggeorgian opened #104 "Time input, milliseconds in particular."
As long as time is represented in the form of real numbers charts are drawing very nicely. But, as in my case, if there is a need to denote time in the from MM:SS,00 (minutes:seconds,milliseconds) charts not recognizing this input and subsequently not drawing.
Would it be possible to implement time recognition?

[2017-12-31 00:35] buffaloseven commented on #104
First familiarize yourself with the ways Highcharts handles the x-axis; there may be an alternative approach you can apply in a custom theme that will solve your problem: https://api.highcharts.com/highcharts/xAxis.type

The other thing is to ensure your time follows ISO formatting; I can’t look it up right now, but I believe ISO uses a dot to separate seconds and milliseconds, but I’m not sure if

[2018-01-02 16:13] methnen commented on #104
@zarbazana Sorry for the delay. It's holidays here in the US and I haven't been on the computer for a bit.

Because Highcharts date time handling has historically been a bit goofy I've head off building it into he UI but @buffaloseven is correct. This could be handled via a theme quite easily. You'd just need to make sure the axis you are dealing with is set to datetime using the axisType paramete

[2018-02-28 17:40] methnen opened #105 "Decouple Highcharts from M Chart"
M Chart was recently delisted from the WordPress Plugin registry because Highcharts is licensed under Creative Commons instead of GPL (after being in the registry for over 3 years).

After some discussion with them it's clear that the only way to get back into the registry will be to remove the Highcharts JS code and make it an optional install after installation. This should be "relatively" strai

[2018-03-12 12:45] simardcasanova opened #106 "Posts are broken"
Hi,

First of all, I'd like to thank you for this extension, it's a great one!

I use M-Chart quite a lot on a WordPress-powered website. Unfortunately, the pages where I display graphs are now broken.

According to the Safari debug console, JQuery is missing. But I have no idea how to solve this issue.

Here's a page that doesn't work anymore: https://lesignal.info/chart/prix-de-la-tonne-dacier-e

[2018-03-12 14:49] methnen commented on #106
Hey @simardcasanova,

Is the template your using for charts loading `wp_head();` ? I'm pretty sure that's where WordPress loads jQuery.

[2018-03-15 01:09] methnen commented on #106
@simardcasanova did that point you in the right direction or are you still having trouble?

[2018-06-10 13:35] ReHWolution opened #107 "Highlight one line in the chart?"
Hi methnen, I was wondering if there will be the option to highlight a single field in a chart, so that you could show what's the main focus of a chart.
Thanks!

[2018-06-10 18:07] methnen commented on #107
I'm pretty sure that's quite doable and relatively easily at that. I'm not sure on an ETA though given that my main priority right now is to fully decouple Highcharts from the main plugin so I can get it listed on wordpress.org again. I'm in the midst of that work right now and it's quite a change so that release is likely to be very light on new features though I'll possibly be able to fit someth

[2018-07-02 23:14] methnen commented on #106
Closing since I've never received a reply on this.

[2018-07-02 23:14] #106 closed

[2018-08-02 19:37] methnen commented on #105
This is closed with changes in version 1.7.

[2018-08-02 19:37] #105 closed

[2018-08-02 19:40] methnen commented on #98
@buffaloseven I've added action hooks that address your need here in version 1.7. I haven't documented them yet but look here and you'll see action hooks before `get_chart` does it's thing and after the template is called in `get_chart`:

https://github.com/methnen/m-chart/blob/master/components/class-m-chart.php#L443
https://github.com/methnen/m-chart/blob/master/components/class-m-chart.php#L510

[2018-08-02 19:40] #98 closed

[2018-08-02 19:40] methnen commented on #97
Closing due to inactivity.

[2018-08-02 19:40] #97 closed

[2018-08-02 19:46] methnen commented on #95
Hey @buffaloseven I believe an easy solution for this would be the action hooks added to get_chart.

You could call either one and then enqueue the export script which is already registered with Wordpress at that point.

This is all you'd need:

`wp_enqueue_script( 'highcharts-exporting' ); `

[2018-08-02 19:46] #95 closed

[2018-08-13 15:31] methnen commented on #107
Just an update. Looked into this and it's not entirely straightforward like I'd hoped, but definitely doable. Need to think through what the UI for it would look like though.

Making this post to link to this forum reply where a Highcharts dev provided examples of how this might be done in Highcharts:

https://forum.highcharts.com/post142269.html?sid=886a7cee1d0ce329489156598e3b4e3b

[2018-08-13 15:52] ReHWolution commented on #107
Oh, I see. But that would go against making the chart custom for the users that read it. They could change it too easily and lose the point of the chart.
I'm very ignorant when it comes to programming, but maybe, some kind of check mark to select when doing a chart in order to change that row or column specific color?

[2018-08-13 16:06] methnen commented on #107
His method is interactive. I think just to demonstrate how it could be done.

I'm imagining something where the interaction happens on the Admin Panel end but is not changeable/interactive when someone views the chart.

Basically by choosing a point/series in the chart you'd be setting a parameter that gets used to highlight that data point for the visitors but they wouldn't be able to do the same

[2018-08-13 16:16] ReHWolution commented on #107
Yes, yes, exactly. If you need a guinea pig, feel free to ask me. After all, we're also friends on Facebook :) (Ciro Sdino here) ;)

[2018-08-17 11:41] Madic- opened #109 "Can't use Highcharts as library"
Hello,

I've installed the m-chart-highcharts-library into the plugins folder and I can select it as library in the M Chart Settings. But when I create a new chart chart.js is used. Also when the default performance options are enabled I get the following errors in the browser console:

TypeError: window[(("m_chart_highcharts_" + m_chart_admin.post_id) + "_1")] is undefined
m-chart-highcharts-admi

[2018-08-17 14:19] methnen commented on #109
Hmm, I did a bunch of testing switching back and forth and I know I've got a fair number of users on the latest version who are also using Highcharts so I'm reasonably sure it's working for most people.

That first error is related to the Javascript attempting to tel thel Highcharts object that the settings object is ready for it to render the chart (like after a setting is changed but it does it

[2018-08-17 17:56] Madic- commented on #109
I can create a duplicate of my environment on the weekend. When I'm ready I will update the issue.
So you can change every setting if you want to.

It's an update. Been using m chart since version 1.5

[2018-08-17 17:59] methnen commented on #109
Great, that will be incredibly helpful. Feel free to email any details to me at:

jamie AT methnen.com

[2018-08-18 01:04] Madic- commented on #109
I've sent you an email with login data. You can do whatever you want on the development side, (de)activating plugins, changing settings etc.
I already tested, if the problem occurs due to the caching methods (disabled them all) or PHP7.2 (reverted back to 7.1, still on 7.1)

[2018-08-18 04:14] methnen commented on #109
Thanks appreciate the ability to see the problem in action first hand.  I will take a look at this as soon as I can. Might be Sunday or Monday before that happens though. Family stuff going on this weekend.

[2018-08-20 15:36] methnen commented on #109
@Madic- thanks for the test setup. I believe I've identified the issue. I'll get a fix up as soon as possible.

[2018-08-20 17:49] methnen commented on #109
OK, I just pushed version 1.7.1 to the Wordpress directory. It should be up soon.

@Madic- do let me know when you have a chance if this fixes the issue for you.

[2018-08-20 17:59] Madic- commented on #109
Thank you. That fixed it for me. I can use the highcharts library again :)

[2018-08-20 17:59] methnen commented on #109
Awesome.

Closing this issue since it's fixed.

[2018-08-20 17:59] #109 closed

[2018-08-21 20:06] Discman813 opened #111 "Removes Page Content"
Using MChart in Wordpress (https://alabamanurses.org/dashboard/). Latest version installed and site completely up to date. Recently the page with charts shows up white and content is removed. Everything visible on back end. Had to deactivate plugin to make page content visible again. Any fix for this bug?

Thanks!
Travis

[2018-08-21 20:54] methnen commented on #111
@Discman813 I'd be happy to come up with a fix but this is the first I've heard of this happening. Is there a way I could login to your install to possibly see what might be happening? A staging or dev version of the site is fine too.

Feel free to email me at jamie AT methnen.com

[2018-08-22 01:41] buffaloseven opened #112 "Generated Images With Highcharts Plugin Cropped Incorrectly"
Image files created using the Highcharts plugin seem to be rendering overly large and end up cropped. Here's an example:
![2018-annual-temperatures-6767](https://user-images.githubusercontent.com/3456575/44437944-6abe7b80-a582-11e8-9f18-8e5a1e51bf7a.png)

I'm using the latest m-chart and m-chart-highcharts-library.

[2018-08-22 01:44] buffaloseven commented on #112
You can see more examples on [my climate archive](https://www.aweathermoment.com/climate/) webpage. The July/August charts were created with the new version of m-chart with the highcharts plugin. June and earlier were created with m-chart 1.5.1 I believe.

[2018-08-22 01:45] methnen commented on #112
Hmm Highcharts must have changed something again. I’ll take a look at this tomorrow morning.

[2018-08-22 02:03] buffaloseven commented on #112
Thanks!

[2018-08-22 02:23] pranay227 opened #113 "Ability to export PNG/PDF/XLS ?"
Is it possible to add the ability to download png/PDF/excel export of the chart- for the front end user? I know it is a feature in high-charts but I am not sure how to implement this on the plugin
![screen shot 2018-08-21 at 7 25 20 pm](https://user-images.githubusercontent.com/12129199/44439328-ff6fac00-a577-11e8-8728-ed1fa0f9a01d.png)

[2018-08-22 12:40] Discman813 commented on #111
I did some more toying around and figured it out. Thank you!

[2018-08-22 14:36] methnen commented on #111
Can you share what the issue was and how you fixed it? I'd love to know.

[2018-08-22 14:38] Discman813 commented on #111
Sure thing! I had to install MCharts Highlights Library. Apparently that was a recent change that I missed (and was right in front of me). Without it, it was corrupting the whole page.  ---- On Wed, 22 Aug 2018 08:36:52 -0600 Jamie Poitra <notifications@github.com> wrote ---- Can you share what the issue was and how you fixed it? I'd love to know. — You are receiving this because you were mentione

[2018-08-22 14:41] methnen commented on #111
Ah, ok. That makes sense to some extent though it shouldn't have corrupted the whole page. I'll have to look into why that was happening.

I tried to make that need so noticeable but you're the second person I know of who missed it so clearly I failed at that.

[2018-08-22 14:42] Discman813 commented on #111
LOL In your defense, I'm really bad about glossing over announcements (pop-up fatigue). I had my partner take a look this morning and he saw it right away. ---- On Wed, 22 Aug 2018 08:41:02 -0600 Jamie Poitra <notifications@github.com> wrote ---- Ah, ok. That makes sense to some extent though it shouldn't have corrupted the whole page. I'll have to look into why that was happening. I tried to make

[2018-08-22 14:46] methnen commented on #113
If you want to use Highcharts exporting stuff you'll need to include some additional scripts on the front end:

https://www.highcharts.com/docs/export-module/export-module-overview

You can then activate those features either via adding a filter to the [m_chart_chart_args](https://github.com/methnen/m-chart/wiki/Action-and-filter-hooks#m_chart_chart_args) filter hook, OR you could use the [theme](

[2018-08-22 14:49] methnen commented on #111
Good to hear. I'm sorry about the change being so disruptive, it wasn't something I had much of a choice about if I wanted to get the plugin back on the Wordpress website but I do realize how annoying it is to have that functionality split out into a separate plugin.

[2018-08-22 17:47] methnen commented on #112
@buffaloseven I just pushed an update that I believe fixes the issue.

Let me know if that solves things for you.

[2018-08-22 19:33] wixosk opened #114 "Can't publish chart"
Hi, I'm using M Chart 1.7.1 on WP 4.9.8. and I can't save any new chart. Publish button is disabled and chart preview is not generated. Even on clean install without any plugins activated, while using default theme. Thanks for the help.

[2018-08-22 19:36] methnen commented on #114
That typically means a JS error of some kind. Do you see anything in the browser console?

[2018-08-22 20:05] wixosk commented on #114
SyntaxError: Unexpected token '<' on post.php:514
and
TypeError: undefined is not an object (evaluating 'window[ 'm_chart_chartjs_' + m_chart_admin.post_id + '_1' ].chart') at m-chart-chartjs-admin.js:105

[2018-08-22 20:11] methnen commented on #114
That's similar to what someone else was receiving in the previous version. I'll see if I can duplicate it locally. If I can't is there a chance I could investigate on my own install?

[2018-08-23 03:48] buffaloseven commented on #112
Tested on my setup and the images now work correctly.

[2018-08-23 03:54] buffaloseven opened #116 "[Request/Help] Creating Dual-Axis Charts"
For some data, having a dual-axis chart still remains the best way to present the information. This request will focus on using Highcharts integration.

With Highcharts, it's relatively easy to implement *n*-y-axis charts by setting the yAxis chart setting to be an array of objects defining the y-axes. With m-chart, it appears that the theming setup will only return elements into the `plotOptions`

[2018-08-23 03:59] buffaloseven commented on #113
If you're using a theme, just add:

[code]

Perhaps relatedly, @methnen: is there a chance we could get an option when using Highcharts in the m-chart settings to include `export-offline.js` to keep things local instead of using the Highcharts export server?

[2018-08-23 15:17] methnen commented on #113
Yes, I could include that as a registered script in the plugin. I'll add that in next time I push an update.

[2018-08-23 18:00] methnen commented on #114
Closing since 1.7.2 fixes this issue.

[2018-08-23 18:00] #114 closed

[2018-08-25 09:08] Inquaery opened #117 "Can't publish chart"
Latest WP and latest Mchart. As soon as values are written into table publish button becomes inactive.

[2018-08-27 15:04] methnen commented on #117
@Inquaery I think I've duplicated this one. There's a learning curve to Chart.js that I'm still on apparently. I'll work on getting a fix in ASAP.

[2018-08-27 23:00] methnen commented on #116
@buffaloseven Just wanted to reply that I have been putting some thought into this.

I haven't tested this theory but I think you should be able to run a function on the `m_chart_chart_args` filter hook. From within your theme. Something like this:

[code]

Also small tip. It's generally safer to leave the ?> off the end of a PHP file. Prevents accidental whitespace insertion into your page which

[2018-08-27 23:07] methnen commented on #116
Well, nix that. That doesn't work at all because the function will get redeclared too many times and even worse will probably pick in even when the theme isn't active.

Let me think a bit more.

[2018-08-27 23:49] methnen commented on #117
@Inquaery I've pushed what a fix for this (1.7.3). Can you let me know if this does/doesn't fix the issue you were having?

[2018-08-29 16:06] Inquaery commented on #117
It does not fix the issue. It is the same wheater is Highsharts or chart.js.

[2018-08-29 16:14] methnen commented on #117
Hmm... then I'm not seeing what you're seeing. Is there any way I could see it in action on your install?

[2018-09-20 16:41] philooo2 commented on #117
Same here, the graph doesn't populate and I get a console error

looking at the network list I also don't see anything loading the char.js or bundle-chart.js

[code]

[2018-09-20 16:45] methnen commented on #117
@philooo2 is there any chance you can get me access to your WP install to look into this? Since I can't duplicate this issue on my end (I've tried extensively with no luck) I'm really unable to do much without being able to play with it in an install that has it happening.

[2018-09-20 16:46] philooo2 commented on #117
I'll email you one right now

[2018-10-08 08:28] heyaitsa opened #121 "Cannot read property 'chart' of undefined"
Reposted from here: https://github.com/methnen/m-chart-highcharts-library/issues/10.

Hi, I'm currently using the latest version of M-Chart (1.7.4). The Chart does not appear at all and does not update, I checked in the console and this is what shows. If you could help me look into it that would be great thanks a lot.

`Uncaught TypeError: Cannot read property 'chart' of undefined
at HTMLCanvasEle

[2018-10-11 14:33] methnen commented on #121
@heyaitsa no other plugins? What browser are you using?

[2018-10-12 07:43] heyaitsa commented on #121
No other plugins, no theme, I'm using Version 69.0.3497.100 of Google Chrome (64bit).

[2018-10-12 15:58] methnen commented on #121
I've tested that exact configuration and it's working fine for me. :( This has been a frustrating issue to try and diagnose without being able to observe it.

You must have a them active though. You can't not have one. I'm assuming it's just the default though. I've tried all three of the ones installed by default and that doesn't reproduce the issue.

Are you in a particular language? Just trying

[2018-10-28 22:50] gibbsyns3 commented on #117
hello meth

any progress on this. i'm getting similar to inquaery's original post, though i'm not getting the publish/save as draft when i enter data into the table, for me it is disabled as soon as the new chart screen opens.

the list of charts is showing those i've attempted to create - all at draft and all showing only the chart title i have applied. none of the data i have added or imported i

[2018-10-29 16:33] methnen commented on #117
Hey @gibbsyns3 I've made no progress. The ticket did help me discover an unrelated issue but since I can't duplicate this locally and people with the issue keep going incommunicado I've been unable to track down what's going on.

Is there any way you can give me access to the install where this is occurring? If so I would be delighted to chase this down and figure out what the problem is.

As alwa

[2018-11-01 22:15] methnen commented on #117
Just a note to everyone on this thread. I pushed an update (1.7.5) with a few more bug fixes that might solve what was happening here though since I've never been able to duplicate the issue I can't say for sure.

[2018-11-28 23:02] benzien commented on #113
Hey all-

I tried adding this to my theme footer:
<script src="/public_html/wp-content/plugins/m-chart-highcharts-library/components/external/highcharts/exporting.js"></script>

and the code in the comment from @buffaloseven above into my theme, but I'm not getting the exporting button on my charts. Any guidance?

You can find a test chart here: https://www.solarpowerrocks.com/affordable-solar/mo-

[2018-11-29 00:55] benzien commented on #113
Actually I solved this with help from a friend. Just had to remove /public_html/ and put the script at the end of the footer.

I do still need help with logo on chart output, but I'll start a new issue for that one.

[2018-11-29 01:16] benzien opened #124 "Adding custom logo to chart exports"
I've managed to get my charts almost entirely perfect-looking, including adding a custom logo as the background of the x-axis using the theme. See https://www.solarpowerrocks.com/affordable-solar/mo-test-charts/.

I also managed to add Highcharts' exporting tool to the charts so my site's users can download charts!

Therein lies the problem.  Even enabling Highcharts' (admittedly experimental) all

[2018-11-29 05:58] methnen commented on #124
That jsFiddle solution won't actually work inside of a theme since it has a JS function in it.

And actually the difficulty you are running into with the Highcharts exporting features illustrates why I built my own solution that is used to generate he PNGs that get used by the plugin.

All of that said the Highcharts.SVGRender.image solution should work I think I don't believe that functionality w

[2018-11-29 06:04] methnen commented on #113
Closing since this has been resolved.

[2018-11-29 06:04] #113 closed

[2018-11-29 06:05] methnen commented on #113
Also meant to mention that the next version of the Highcharts Library that I'll be pushing live sometime this month will have some additional libraries already registered so you'll be able to enqueue things like the exporting stuff more easily.

[2018-11-29 19:30] benzien commented on #124
Cool, I will try that. Thank you!

Any advice on wildcards if I want to enable it for all post_ids? I'm going to end up with 200+ charts and I'd like the logo to show up in the same place on all of them.

[2018-11-29 19:45] methnen commented on #124
The way that code is written it'll already work for every chart. If you wanted to limit it you'd have to add a conditional checking against the $post_id value that get's passed to the function.

[2018-11-30 00:31] benzien commented on #124
Well I've got the code in functions.php, and it produces a logo image in the chart. But there are a couple problems:

1.) It doesn't pass when you export as PNG
2.) It relies on x-y positioning, which changes with viewport resize and on a per-chart basis.

That said, I'm still using a PNG. Do you think if I tried an SVG it might pass with export? I've also tried base64 encoding the image as a back

[2018-11-30 05:00] benzien commented on #124
I got it!

In my theme, I had originally set the 'text' attribute of the x-axis title to '&nbsp;' and the background image set to a PNG on my server. Instead, I had to set it to:

`'text' => "<img src='data:image/png;base64,Base64ImgHere' width='X' height='X'>"`

And it works! It's not 100% perfect, visually, but it's darn close. I am thrilled it worked out.

[2018-12-03 17:14] benzien opened #125 "Dynamic filenames using Highcharts exporting"
Hi there!

One of the final customizations I'd like to make to the chart output is use the chart title as the filename when the chart is exported for download by the highcharts library. I've been able to get the exporting function to work great within a custom theme.php file, but because I want to use the post title as the filename, I removed exporting from the theme and tried to use m_chart_args

[2018-12-03 18:04] methnen commented on #125
If the chart isn't displaying you should be getting a JS error of some kind on in the browser console. What's that error say?

[2018-12-12 21:11] benzien commented on #125
Sorry for the delay.

I found this message in the sources pane of Chrome's devTools:

<b>Warning</b>:  call_user_func_array() expects parameter 1 to be a valid callback, function 'filter_m_chart_chart_args' not found or invalid function name in <b>/home/benz2396/public_html/wp-includes/class-wp-hook.php</b> on line <b>298</b><br />

[2018-12-12 21:14] benzien commented on #125
Here's the relevant portion of class-wp-hook.php:

	public function apply_filters( $value, $args ) {
		if ( ! $this->callbacks ) {
			return $value;
		}

		$nesting_level = $this->nesting_level++;

		$this->iterations[ $nesting_level ] = array_keys( $this->callbacks );
		$num_args = count( $args );

		do {
			$this->current_priority[ $nesting_level ] = $priority = current( $this->iterations[ $nest

[2018-12-14 15:20] miscs opened #126 "Wordpress 5.0.1 - Warning: A non-numeric value encountered in class-wp-rewrite.php on line 1012"
Hi,
thank you for the nice plugin. Two questions (using Wordpress 5.0.1):

1) When saving Chart-Settings I get a long list of Warnings like
Warning: A non-numeric value encountered in class-wp-rewrite.php on line 1012

2) Do you plan to create an gutenberg-block for m chart?

Thanks!
miscs

[2018-12-14 15:38] methnen commented on #125
@benzien that error is something I should have noticed when you first shared your code above. Your function name needs to match the call back you indicate in the filter call.

Instead of this:

`function m_chart_chart_args( $chart_args, $post, $post_meta, $args ) {`

Make it this:

`function filter_m_chart_chart_args( $chart_args, $post, $post_meta, $args ) {`

[2018-12-14 15:43] methnen commented on #126
Hey! Glad you like the plugin.

In answer to your questions:

1. I'll admit I haven't had a ton of time to test the plugin under WP 5.0 yet though it should be generally working. I'd have to look into what that warning is actually trying to indicate and I probably won't have time to do that until maybe next week at the earliest.
2. Yes I do! But similarly have not had time to finish it though I ha

[2018-12-14 17:22] benzien commented on #125
It works!

Thank you!

[2018-12-14 22:51] methnen commented on #126
@miscs I had a chance to look into this a bit and I could not duplicate this issue running Wordpress 5.0.1. I did fine one place that could generate a warning and I've fixed that and will push an updates shortly but it wasn't long list for sure.

Is it possible a different plugin you are using is causing these warnings?

[2018-12-19 10:37] miscs commented on #126
Hi,

I´ll test with a clean install and update this ticket with the findings. Sorry for the late anwer, bit of time trouble because of christmas coming up....

Best

[2019-01-05 17:53] NinjaBeaver opened #128 "Can't seem to get theme to appear in new chart"
I've done everything as per the Wiki instructions for creating a theme when using Highcharts, but it's not appearing in the dropdown for themes. Would appreciate any advice. To be honest, I'd prefer to use Chart.js but there doesn't seem to be a way to change colours other than editing the plugin file. Unless there's a way to do it from my theme's CSS?

Thanks,
Sarah

[2019-01-05 18:59] methnen commented on #128
Hey @NinjaBeaver I've got a bunch of people using the theme functionality and it's working for them. So I'd honestly need to see more specifically what you've done to know why it might not be working.

As for Chart.js the way the coloring works in that charting library is very strange and makes it functionally quite difficult to have themes in the same way I was able to do for Highcharts.

That sa

[2019-01-05 19:55] NinjaBeaver commented on #128
Thanks for replying so quickly! I'll email you. I don't think I'd be too confident at filter hooks. I wondered if the problem might be because it's a child theme, but putting it into the parent didn't do anything either.

Thanks again
Sarah

[2019-02-13 01:20] AhmadNasrudin opened #129 "Add description content"
How do you add a description of a chart outside the canvas? It is truncated id such description inside the canvas

[2019-02-13 01:37] methnen commented on #128
This turned out to be a PHP syntax error in the custom theme.

[2019-02-13 01:37] #128 closed

[2019-02-13 15:28] methnen commented on #129
You could use the Excerpt field for this quite easily.

Put whatever longer description you want in there and then use the action hook at the end of the `get_chart()` method.

Something like this in your functions.php file would work:

[code]

That would spit the excerpt out below ever chart inside of a div with a unique ID and a more general Class.

Keep in mind none of that above code is actuall

[2019-02-13 15:30] methnen commented on #124
Closing since the OP figured this out.

[2019-02-13 15:30] #124 closed

[2019-02-13 15:31] methnen commented on #112
Closing since this bug has been fixed.

[2019-02-13 15:31] #112 closed

[2019-02-13 15:32] methnen commented on #125
Closing as the issue was resolved.

[2019-02-13 15:32] #125 closed

[2019-02-13 15:32] methnen commented on #126
@miscs Did you ever have a chance to test this? No worries if not, but figured I'd check. I know how life gets. :)

[2019-02-13 15:33] methnen commented on #121
Closing since the OP quit following up.

[2019-02-13 15:33] #121 closed

[2019-02-13 15:34] methnen commented on #111
Closing since it's old news now.

[2019-02-13 15:34] #111 closed

[2019-02-13 15:34] methnen commented on #117
Again there's been no follow up no this and now further reports of the same/similar issue so I'm hoping it's been fixed in the more recent releases.

[2019-02-13 15:34] #117 closed

[2019-02-15 14:09] AhmadNasrudin commented on #129
Thanks for your anwer. I really appreciate

[2019-04-08 08:22] robertocastroserantes opened #130 "How to change font color and font size"
Hello, how can I change font color and font size in the x-Axes and Y-Axes?

[2019-04-08 08:31] methnen commented on #130
If you are using the Highcharts library:

https://api.highcharts.com/highcharts/xAxis.labels.style
https://api.highcharts.com/highcharts/yAxis.labels.style

You would need create a custom theme and add your styles to that:

https://github.com/methnen/m-chart/wiki/Themes

Optionally you could set styled mode to true (through a theme or a filter hook on the chart args:

How styled mode works:

https

[2019-05-02 22:47] methnen opened #131 "Variable reference is wrong in Highcharts update class"
https://github.com/methnen/m-chart-highcharts-library/blob/d8cd706ac7800d3841fbd8d95230d5d8f9945ef5/components/class-m-chart-highcharts-library-update.php#L116

[2019-05-08 15:04] VincentEUWID commented on #126
Hi @methnen,
I have the same problem as @miscs.

My Wordpress installation is on v5.1, error still appears in v5.2 too.

This PHP warning was introduced with PHP 7.1. Unfortunally it spams my logs a lot, so much that it slows down the server noticeably (GBs of logs :) ). The warnings disappear as soon as I deactivate m-chart so there is atleast some kind of involvement from your plugins side.

The

[2019-05-08 16:12] methnen commented on #126
@VincentEUWID Thanks for the detailed bug report. I'll see what I can figure out, I've been previously unable to duplicate the issue but I didn't have No Images turned on previous so that might have something to do with it.

I'll take a look today and see what I can find.

[2019-05-09 00:45] methnen commented on #126
@VincentEUWID This is weird one. I replicated the problem but it's weird, and I'm not entirely sure what's causing it yet.

Basically what happens is that the M Chart Settings page when submitted will run `flush_rewrite_rules();` which causes the flood of warnings.

You'll get the same results if you go to the WP Permalink Settings page which runs the same flush function.

It appears to be related

[2019-05-09 00:59] methnen commented on #126
And just a bit more follow up.

https://wordpress.org/support/topic/errors-on-admin-page-2/

Someone else found the problem on their install (but with a completely different plugin that also had a `flush_rewrite_rules();` call and traced it to the rewrite stuff for custom post types. It appears to also be a problem with custom taxonomies. That explains why even with M Chart inactive I was still se

[2019-05-09 08:59] VincentEUWID commented on #126
@methnen Thanks for the heads-up! Unfortunally I don't know much about wordpress url rewrites so I cannot give you much input on that topic.

I will wait with upgrading to PHP 7.1+ for a while longer then.

Thanks again 👍

[2019-05-09 14:30] methnen commented on #126
@VincentEUWID no worries. I'm just tracking what I've found so I don't forget. I think I might have a fix. Do you have an email address I could send you a replacement `class-m-chart.php` file?

[2019-05-09 14:38] VincentEUWID commented on #126
@methnen I wrote you an email from my address.

[2019-05-10 08:18] VincentEUWID commented on #126
@methnen The replacement file you sent me yesterday fixed the problem for me. Thank you very much!

[2019-05-10 16:57] methnen commented on #126
Awesome. The next version will have this change.

[2019-05-31 16:09] JuanDBB opened #132 "Notice about installing M Chart Highcharts Library plugin doesn't disappear even when it's installed"
Hello,

I have installed the M Chart Highcharts Library plugin but the notice saying that it has to be installed doesn't disappear.

Thank you in advance!

[2019-05-31 17:03] methnen commented on #132
Did you activate it?

[2019-05-31 18:06] JuanDBB commented on #132
Hello,

Yes, activated and configurated, and works great except for a warning when saving configuration.

[2019-05-31 18:11] methnen commented on #132
Interesting.

Can you look at the name of the plugin folder and tell me if it has `-master` in it?

[2019-05-31 18:21] JuanDBB commented on #132
The folder is called m-chart-highcharts-library-master

[2019-05-31 18:32] methnen commented on #132
OK, that's the problem. I suspect you downloaded it from the githhub zip download button?

![zip download](https://methnen-dropshare.s3.amazonaws.com/pb-XdIs4H8AVi.png)

That downloads the entire repository and appends the branch name to the directory.

There's a cleaner version of the plugin linked in the Read Me file:

https://github.com/methnen/m-chart-highcharts-library/raw/master/plugin.zip

[2019-05-31 18:41] methnen commented on #132
Wanted to note that going forward this won't be a problem as the WP update stuff should handle everything correctly going forward.

[2019-05-31 18:54] JuanDBB commented on #132
Thanks a lot ))

[2019-07-11 14:53] Hillary50 commented on #126
Hello?. I am experiencing the same issue. I have sent a message to you.

[2019-08-19 09:36] drguptavivek commented on #126
Hello Methnen. Thanks for your awesome plugin. I am also facing teh same issue. Can you email me the fix as well please ?

[2019-11-05 17:29] methnen opened #134 "Allow for alternate CSV seperators"
https://wordpress.org/support/topic/import-export-separator/

[2019-12-29 20:47] feralreason opened #138 "Uninstall m-chart and highcharts and then re-install m-chart not working"
After getting this working in a test site with m-chart and highcharts, I uninstalled both plugins and reinstalled m-chart by itself. After this I could not get a display of the chart in the edit function. Additionally, I could not publish a chart.

A number of records from the plugin remained in the database:
**wp-options:**  m-chart, m-chartunits_children, m_chart_version.
**wp_posts:** A record

[2019-12-30 00:19] methnen commented on #138
Hey! I will probably have some time to look at this tomorrow. It’s always easiest to debug these sorts of things if I can see the issue in action. Is there any chance the site you are working on is accessible to me in some way?

Feel free to email any more private details:

jamie AT methnen.com

[2019-12-30 01:11] feralreason commented on #138
Methen -- My bad.

I was trying to solve the "set the Vertical Axis Minimum to 0 without Highcharts" and I failed to delete part of my test code.  That's what caused the problem.  Things seem back to normal.

[2019-12-30 01:11] #138 closed

[2019-12-30 16:45] feralreason commented on #138
Jamie,

Replied on GitHub  -- dumb mistake on my part. Failed to delete all my test code.

I think you really have a promising plugin in M Chart!  After a couple more minor features (e.g. set the vertical axis minimum), you might think about an M Chart Pro version  – strictly with chart.js -  to offer something more affordable than the highcharts solution.  Doesn’t seem like there is much competit

[2019-12-30 17:07] methnen commented on #138
Hey Glen,

Yeah, I can't say I'm terribly happy with the Chart.js limitations at this point.

However, many of them are a result of Chart.js itself.

It's just not as mature as Highcharts is and that results in some really disappointing tradeoffs and limitations.

Even the way colors are handled in Chart.js is simply atrocious which makes some of the features I have in Highcharts like themes basic

[2019-12-30 17:33] feralreason commented on #138
Understood. I’ll keep my eyes open. My charts are simple so M-chart almost fits the bill  - and I like the “dynamic” look and feel.

Agree that better color control would be a ‘nice-to-have’.

Glad you’re employed full time – you seem to have the talent and the passion for this.

(It’s a great time for West Coast software engineers - my sons work at Waymo and PostMates.)

Have a great New Year!

G

[2019-12-30 18:27] feralreason commented on #138
One last thing – I assume you have looked at Chartist : https://gionkunz.github.io/chartist-js/

And this comparison: https://buttercms.com/blog/comparing-javascript-charts-2019

Chartist supports css for color control and uses svgs but many (what should be standard) features require extra plugins.

   Glenn

 <mailto:glenn@gfwebsoft.com> glenn@gfwebsoft.com

From: glenn@gfwebsoft.com <glenn@gfweb

[2019-12-30 18:32] methnen commented on #138
I have a vague memory of looking at that one. But I honestly don't remember why I didn't go with it. :)

I like that's it uses the MIT license though which is the one my own plugin uses.

I'll try giving it another look when I've got some free time and am not in the midst of a bad cold. :)

[2019-12-30 18:39] feralreason commented on #138
One more last thing :p

DS.js (https://d3js.org/) is perhaps more promising  –  altho more complex -- than Chartist: https://www.slant.co/options/10577/~d3-js-review

From: glenn@gfwebsoft.com <glenn@gfwebsoft.com>
Sent: Monday, December 30, 2019 12:22 PM
To: 'methnen/m-chart' <reply@reply.github.com>
Subject: RE: [methnen/m-chart] Uninstall m-chart and highcharts and then re-install m-chart not w

[2019-12-30 18:50] methnen commented on #138
Yeah, I know I've looked at that one before. The problem there is it's super complex, super powerful, but also not straightforward to implement. A lot of the things that a library like Chart.js and Highcharts does for you d3js requires you to essentially build yourself.

It's worth looking at again too though. Maybe some things have changed in that department since I last looked at it a few years

[2020-03-24 17:28] piersky opened #139 "Dynamic data"
Hi,
is it possible to update a graph whenever the data changes? Is there a hook or a function that we can use?

Thanks in advance.
Best regards.

[2020-03-24 17:31] methnen commented on #139
There's an action hook that you could use to modify the chart data on the fly:

https://github.com/methnen/m-chart/wiki/Action-and-filter-hooks#m_chart_chart_args

But there's no built in mechanism for doing this obviously. You'd have to build something on top of that action hook.

[2020-04-01 13:35] kaarec opened #140 "JQuery issue"
Installed m chart and your highchart add-on yesterday. In the site admin area I've entered data for a line chart and it shows up perfectly in the chart area below the data table. It's obviously using js, as the lines are animated. But when I put the shortcode into a shortcode block (gutenberg) and display the page, nothing but blank space.  FF Console complains JQuery is not defined. WP 5.4 (just

[2020-04-01 14:55] methnen commented on #140
@kaarec Does this blank occur on both the back end and the front end?

I can take a look at this today and will see if I can reproduce the issue.

[2020-04-01 15:17] kaarec commented on #140
Wow thank you. I started the website yesterday morning, using wordpress
5.3.something and twentytwenty theme 1.1, but by afternoon both had
updated, wp to 5.4 and twenty twenty to 1.2. Made a few tiny tweaks to
2020, but basically this is a super fresh install. Only other plugins are
updraft for backups, tiny mce, wp forms, and wp super cache.

Browsing around, I found an interaction between anoth

[2020-04-01 16:27] methnen commented on #140
Your images didn't make it through, but if you want to email me at jamie AT methnen.com you can send them that way.

So I tried duplicating this issue and can't seem to duplicate it at least with the default install I'm running.

Here you can see I've got a chart embed code inserted into the Gutenberg edit form:
https://methnen-dropshare.s3.amazonaws.com/pb-CMUgwCYybY.png

And here's the resulting

[2020-04-01 16:34] methnen commented on #140
@kaarec which tiny ice plugin are you using? There's quite a few out there. Same for the wp forms plugin there's a lot of stuff by them.

I've added the updraft and wp cache plugins and still no issues.

[2020-04-01 16:39] kaarec commented on #140
I disabled every plugin other than your two, and still have the issue.
About to resend screen shots to  you other email.

On Wed, Apr 1, 2020 at 12:34 PM Jamie Poitra <notifications@github.com>
wrote:

[2020-04-01 23:14] methnen commented on #140
This was solved off the thread.

However, the workaround solution for this is to turn on iframe embeds in the settings.

I'm looking into an actual bug fix. But essentially the twenty-twenty theme seems to prevent jQuery from being enqueued on the page.

[2020-04-02 12:55] piersky commented on #139
So, the hook can update the chart whenever in the admin panel is opened the graph?

My need is to update the frontend page due to data changing.

Thanks again.

[2020-04-02 16:07] methnen commented on #139
No, you misunderstand.

The last paragraph was simply making sure that you understood that the data for an embedded chart automatically updates whenever you update the chart already. That's just how the plugin works.

But if you want to modify a chart in any way at the time it renders that action hook I pointed to will allow you to do that.

[2020-06-22 15:58] Rik44444 opened #142 "user-editable graphs"
hi,
I'd like our website visitors to be able to edit the graphs on our site by A) changing the range of the x-axis and B) changing a number that feeds into the data underlying the graph?
Would this be possible with M Chart?
yours sincerely,
Rik

[2020-06-22 16:07] methnen commented on #142
Highcharts is pretty heavily extensible and there's lot of examples on their site of things like that if you're using the Highcharts plugin with it. That kind of interaction would be driven on the front end though so isn't really pertinent to M Chart in particular.

The default library Chart.js is less extensible but it does have some stuff that might allow for what you want to do.

None of this i

[2020-08-18 12:56] ProNoiser opened #143 "Need M Chart in update"
Hello!
After updating WP to version 5.5, the preview of graphs and charts stopped showing in the plugin admin panel, and CSV import stopped working.
When is it expected to update the plugin with these bugs?
Thank.

[2020-08-18 14:22] methnen commented on #143
Thanks for letting me know there's a problem. I'm looking into this right now and I'll update you once I have an idea.

[2020-08-19 02:24] methnen commented on #143
@ProNoiser I'm seeing an issue where the data sent back when doing live previews is being messed up so it doesn't reflect the actual chart settings. Is this what you were seeing?

[2020-08-19 02:58] methnen commented on #143
This is addressed in the two pull requests mentioned above. I'll be pushing these updates live shortly.

[2020-08-19 02:58] #143 closed

[2020-08-19 14:04] ProNoiser opened #145 "@ProNoiser I'm seeing an issue where the data sent back when doing live previews is being messed up so it doesn't reflect the actual chart settings. Is this what you were seeing?"
Yes. For example, when switching to any chart view, a line chart is always displayed. Only when the chart is refreshed, the correct chart type is shown for a split second, but then the linear chart is shown again ... You have to work blindly. And the CSV-files have also stopped loading. Thanks.

[2020-08-19 15:05] methnen commented on #145
@ProNoiser Did the version I launched last night not fix this issue?

[2020-08-19 16:04] ProNoiser opened #146 "@ProNoiser Did the version I launched last night not fix this issue?"
It's alright! Nice work! Thanks!

[2020-08-19 16:04] #146 closed

[2020-08-25 01:12] ReHWolution opened #147 "PHP 7.4 not compatible with M Chart"
Hello Mr. J! Sorry to bother you once again: I tried to activate PHP 7.4.9 but it seems like M Chart stops working when I do so. Rolling back to 7.3.x it works back again. Is there some function getting deprecated with this new version of PHP?

Thanks in advance!

[2020-08-25 02:03] methnen commented on #147
Ciro!

I've tested with 7.4.2 and not seen any issues.

What exactly is happening? Are there any JS errors showing in the browser console? Howe about some PHP errors I the log?

I'll see if I can get a copy of PHP 7.4.9 going on my test setup to see if I can replicate any issues in the meantime.

[2020-08-25 22:04] methnen commented on #147
@ReHWolution did you have a chance to look at your logs for any actual PHP errors?

[2020-08-25 22:09] ReHWolution commented on #147
Hi methnen,

it seems like it’s not your plugin, but my theme to be bugged. After WP 5.5 it seems like they f’d up a lot of things…

Now I’m running 7.4.9 and charts work with no issues. Sorry for bothering you!

Da: Jamie Poitra <notifications@github.com>
Inviato: mercoledì 26 agosto 2020 00:05
A: methnen/m-chart <m-chart@noreply.github.com>
Cc: ReHWolution <ciro.sdino@rehwolution.it>; Mention <m

[2020-08-25 22:12] methnen commented on #147
Ah, good to hear it wasn't on my end. :)

[2020-08-25 22:12] #147 closed

[2020-11-17 18:53] imjeffp opened #151 "Themes and Oxygen Builder"
Since my WP site is built with [Oxygen Builder](https://oxygenbuilder.com), I don't have an active theme or even a theme folder to install a Highcharts theme into. Any suggestions? Or a set of step-by-step instructions to set styled mode to true from within the plugin?

[2020-11-17 19:06] methnen commented on #151
@imjeffp this is a situation where the filter hooks are probably your solution.

Take a look at the [m_chart_chart_args](https://github.com/methnen/m-chart/wiki/Action-and-filter-hooks#m_chart_chart_args) hook. The example code even shows exactly how you could use it to change the chart colors in the same ways as a simple theme.

Usually you would throw this into your functions.php file but since

[2021-05-07 16:53] #151 closed

[2021-05-07 16:54] #145 closed

[2021-05-07 16:54] #140 closed

[2021-05-07 16:55] #142 closed

[2021-05-07 16:55] #139 closed

[2021-05-07 16:55] #132 closed

[2021-05-07 16:55] #130 closed

[2021-05-07 16:56] #116 closed

[2021-05-07 17:16] #104 closed

[2021-06-01 13:50] liyuchang opened #154 "request - generate different radar charts using the same chart object with multiple sheets"
Hi there, I was wondering if you can make a new feature to let the user can select which data set (sheet) to display in a radar chart for a chart object which contains multiple sheets. It's also good to have the ability to manually set the min and max values of the radar chart.

[2021-06-20 00:36] ReHWolution opened #155 "Charts not loading with Load with Ajax based theme"
Hi J! Sorry to bother you once again! I'm currently running JNews (updated to the latest version), and it seems like when I set an article loading method in "Load with Ajax", the charts won't appear on the pages of those very articles. Is there a missing call to render out charts?
Thanks in advance!

[2021-06-20 03:23] methnen commented on #155
This usually means an issue with the JavaScript not being loaded try putting it in iframe mode and see if it works.

[2021-06-21 05:01] ReHWolution commented on #155
I'm sorry, how may I do that?

[2021-06-21 05:30] methnen commented on #155
It’s in the M Chart settings panel:

https://ps.w.org/m-chart/assets/screenshot-2.png?rev=2529219

Enable iframe embeds.

[2021-06-21 16:09] ReHWolution commented on #155
By doing so they just stop loading on any load method. Do I also need to change something in the shortcode?

[2021-06-21 16:50] methnen commented on #155
No, if that were going to fix it. It would have just worked.

I'd have to look at what the Load with AJAX stuff is actually doing.

Is this up anywhere in a test site or staging site that I can take a look at?

[2021-06-21 16:52] ReHWolution commented on #155
I think you're able to check it out here: https://preview.themeforest.net/item/jnews-one-stop-solution-for-web-publishing/full_screen_preview/20566392

[2021-06-21 16:55] methnen commented on #155
No I mean your specific install/instance/usage.

I'd want to look at a page that should have a chart and see what happens and what's in the pages code.

It's hard to diagnose an issue like this in the abstract. :)

[2021-06-21 17:01] ReHWolution commented on #155
Understandable hahahaha!
I'll get back at you on wednesday since we've been running Prime Day offers and can't really have our website offline, is that ok for you? I'll provide you with a temporary user with admin rights and all :)

[2021-06-21 17:11] methnen commented on #155
Whatever works for you. Your web provider doesn't provide staging server setups I take it? That's ideal as I'd definitely not want to take your site offline at all for something like this.

[2021-06-21 17:50] ReHWolution commented on #155
Oh unfortunately there is no such option. I'm on a rented VPS, but don't worry, you're doing a lot already!

[2021-07-14 14:02] teatall opened #157 "Support for stacked columns/bars/areas"
It's a wonderful plugin. Please enable the support for stacked columns/bars/areas. Those are really needed.

Thank you!

[2021-07-14 16:05] methnen commented on #157
Hey @teatall you're in luck, the next version is in development and I already activated the stacked columns/bars stuff.

I did not do it for area charts though as they're broken in the current Chart.js release in that the axis don't reflect the chart properly when you stack area/line charts.

It's something they've already been working on fixing so I can see it being added in at some later point.

[2021-07-15 01:05] teatall commented on #157
Thanks and it's wonderful!

[2021-07-15 01:05] #157 closed

[2021-12-18 12:27] ReHWolution opened #158 "Request - Add custom watermark to charts"
Hi J! I hope you're doing well! I was wondering if there'd be a chance to have a watermark option for charts made with charts.js. I noticed the library actually provides an option through a plug-in. https://github.com/AlbinoDrought/chartjs-plugin-watermark

Do you think it'd be possible to integrate such function for 1.9 or maybe v2.0? :D

[2021-12-20 18:14] methnen commented on #158
Hey @ReHWolution given that plugin's age I suspect it's not gonna work with the current branch of Chart.js.

That said, adding watermarks to a chart should be something that could be worked out with some relatively basic code. If you were to send me a logo you wanted to use and describe where and how you want it positioned I could probably work out something that you could throw in your functions.

[2021-12-22 13:51] ReHWolution commented on #158
That would be fantastic! I'd like something like WCCFTECH does in their charts: https://wccftech.com/review/kfa2-geforce-rtx-3080-ti-exg-12-gb-graphics-card-review-designed-for-gamers-first/6/

A semi-transparent watermark in the background of every chart. This would be the logo: https://drive.google.com/file/d/1vHDXWXaMM-97DOvnkh9XPlWRJzmDOqvy/view?usp=sharing

I was also giving a try to the 1.9

[2021-12-22 17:20] methnen commented on #158
Logo will need to be in SVG ideally. But I might be able to get it to work properly with a transparent PNG.

Yes, 1.9 will have a variety of good additions more then is currently listed in the 1.9 read me. Chart.js and my understanding of it has improved rapidly which is good. I might find time to push it to a release state in December we'll see. My real work has been pretty crazy lately.

[2021-12-22 17:40] ReHWolution commented on #158
Oh don't mention it, I was just curious 'cause I love your plugin, if I can do anything to speed up your part just lmk. With that said, I can quickly make a .svg version of it if needed. The one I linked is a transparent PNG though :)

[2021-12-27 20:04] methnen commented on #158
So this isn't fancy or anything, but it turns out the easiest way to do this is to simply style the div that contains the canvas object.

You could add something like this to your CSS:

[code]

The important magic all happens in the ::after bit.

The url you'll need to point at whatever you want to use for the logo.

The opacity controls how "see through" the image is.

And the background-size han

[2021-12-27 20:33] ReHWolution commented on #158
I just added this snippet to my additional CSS section in my theme (I already have some code for making videos responsive) but unfortunately it doesn't work :(

[2021-12-27 20:34] methnen commented on #158
Give me a URL where I can take a look?

[2021-12-27 20:40] ReHWolution commented on #158
Here there's charts you can look at: https://www.rehwolution.it/reviews/ram/adata-xpg-spectrix-d45g-16-gb-ddr4-3600/7/

[2021-12-27 20:48] methnen commented on #158
Does your m-chart theme apply some background style by any chance?

[2021-12-27 21:07] ReHWolution commented on #158
This is my theme:

<?php

/**
 * Theme Name: ReHWoCharts
 */

return array(
	'colors' => array(
		'#cc1111',
		'#999999',
		'#af0000',
		'#3a3a3a',
		'#000000',
	),
);

Does it apply a standard background?

[2021-12-27 22:52] methnen commented on #158
Well that was frustrating as heck. Your content area has a weird z-index value.

Try changing his:

[code]

To this:

[code]

[2021-12-27 22:57] ReHWolution commented on #158
Yesssss it works! You can see it in action! That is so cool :D

[2021-12-28 00:25] methnen commented on #158
👍

[2022-01-03 20:19] #158 closed

[2022-02-04 04:16] 1user4life opened #160 "Update 1.9 Crashing Post Edit"
Update 1.9 is crashing wordpress when you try to load a post to edit. Disabling the plugin fixes the problem. Forces attempted recovery screen in wordpress.

Error:

The editor has encountered an unexpected error.                [Attempt Recovery][Copy Post Text][Copy Error]

Copy Error Option:

TypeError: r.media is not a function
    at new m
    at fh
    at Ch
    at Pj
    at di
    at Nj

[2022-02-04 05:10] methnen commented on #160
@1user4life I somehow completely missed this but I'm seeing it now too.

You mean specifically that it's crashing the block editor correct?

[2022-02-04 05:36] methnen commented on #160
OK, I've identified the issue I should have a fix out shortly.

[2022-02-04 05:45] methnen commented on #160
Fix is out. Please let me know if this fixes things for you?

[2022-02-04 13:58] 1user4life commented on #160
You da man!

It appears to be working without issue again. Block editor is not showing any signs of issue.

[2022-02-04 14:00] #160 closed

[2022-02-04 20:03] methnen commented on #154
I somehow missed this earlier. You can hide/show data sets by clicking on their name in the legend. Is this what you're asking for?

[2022-02-06 08:14] teatall opened #163 "Axis labels not correct"
Hi, thank you for updating the plugin. It's wonderful to support stacked bars/columns now.

By any change that anyone is also noticing that if the lables of the parsed data are years (e.g., 2011, 2012, 2013, 2014 .....), they would not display correctly on the axis? I'm only getting 0, 1, 2, 3, 4 ... as the labels. Version 1.8 (at both front and back end) and 1.9.1 (frontend, not the backend) work

[2022-02-06 16:14] methnen commented on #163
Hey @teatall , I think I might have an inkling of what's happening. Could you export your CSV and send it to me along with a screenshot of the chart settings and I'll take a look.

jamie AT methnen.com

[2022-02-07 23:39] methnen commented on #163
I believe I've got a fix for this. Update should go out today.

[2022-02-08 07:43] teatall commented on #163
Thank you!

[2022-02-08 07:43] #163 closed

[2022-02-12 23:51] simonmueck opened #166 "406 Error Message when saving Chart"
Hi there, I ran into a problem after installing the plugin on my wordpress site.
When trying to save a new / edited Chart I get an error message from my webhost. Error 406 - Not Acceptable (Safety Issue)

![grafik](https://user-images.githubusercontent.com/71900957/153732471-cef17228-d896-48c2-949b-820141380c84.png)

After getting the message I can jump back or reopen the Chart - all edits are gon

[2022-02-13 00:04] methnen commented on #166
@simonmueck id I’d be happy to take a look but this is definitely one of those situations where I likely need to see it in action as I’ve never seen that error in relation to the plug-in. I’m thinking it might be hosting specific.

Feel free to email me at jamie AT methnen.com with any details you can provide and let me know if you’d be comfortable with giving me access to see the issue in your in

[2022-02-14 05:14] methnen commented on #166
@simonmueck Just wanted to follow up and see if that indeed fixed the issue?

[2022-02-15 22:13] simonmueck commented on #166
Sorry for getting back to you this late. Thank you for the suggestion, unfortunately turning of the image generation did not work. I'm in contact with my host - trying to pinpoint what is causing this issue. I'll write you once I have more information :)

[2022-02-16 06:57] methnen commented on #166
Sorry to hear that didn't fix it.

This error does seem to be very host specific from what I've seen just researching a bit on the web clearly something's triggering some security measure on the server side.

I figured it was the image binary being submitted with the chart settings but it must be something else.

If your host can determine what's happening I'd live to find out or if there's a way

[2022-04-20 10:07] sajidmanzoor10p opened #168 "How to add a new JS chart library."
How to add a new JS chart library in M-charts plugin. Is there any action/filter hook available for that. or Is there any guide available for adding a new JS chart library?

[2022-06-10 11:15] turicas opened #169 "Cannot use a port different than 80"
The `M_Chart.plugin_url` method uses the absolute URL to reference CSS and JS files, but misses the host port when building the URL. The result: plugin won't work for deployments on ports different than 80 (I run in 8080 in my development setup, via a Docker image).